.mediaViewInfo {
	--web-view-name: Atendimento;
	--web-view-id: Atendimento;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Atendimento;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Atendimento {
	position: absolute;
	width: 1920px;
	height: 1079px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Atendimento;
	--web-view-id: Atendimento;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Retngulo_1 {
	fill: rgba(0,76,162,1);
}
.Retngulo_1 {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 1015px;
	left: 0px;
	top: -31px;
}
#avatar {
	position: absolute;
	width: 137px;
	height: 137px;
	left: 37px;
	top: 76px;
	overflow: visible;
}
#Retngulo_15 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_15 {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 69px;
	left: -1px;
	top: 464px;
}
#Retngulo_18 {
	fill: rgba(232,228,228,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_18 {
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 69px;
	left: -1px;
	top: 326px;
}
#Zzinho_Bot {
	left: 51px;
	top: 227px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Auxiliar_de_RH {
	left: 62px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Arena_Vidros {
	left: 66px;
	top: 275px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Atendimento_ {
	left: 12px;
	top: 349px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Ramais__Telefones {
	left: 12px;
	top: 558px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Meu_Perfil {
	left: 12px;
	top: 894px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Sair {
	left: 12px;
	top: 935px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Retngulo_3 {
	fill: rgba(0,0,0,1);
}
.Retngulo_3 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 94px;
	left: 0px;
	top: 984px;
}
#Logo-cinza_claro {
	position: absolute;
	width: 280px;
	height: 42px;
	left: 779px;
	top: 1010px;
	overflow: visible;
}
#Produtos {
	left: 12px;
	top: 489px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Atendimento_ba {
	left: 228px;
	top: 76px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(93,90,90,1);
}
#Linha_1 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_1 {
	overflow: visible;
	position: absolute;
	width: 1482px;
	height: 1px;
	left: 228.5px;
	top: 127.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Assunto {
	left: 744px;
	top: 202px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(93,90,90,1);
}
#Chamado_ID {
	left: 225px;
	top: 202px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(93,90,90,1);
}
#Data {
	left: 370px;
	top: 202px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(93,90,90,1);
}
#Solicitante {
	left: 521px;
	top: 202px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(93,90,90,1);
}
#Status {
	left: 1393px;
	top: 202px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(93,90,90,1);
}
#Retngulo_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_4 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1484px;
	height: 86px;
	left: 228px;
	top: 299px;
}
#Retngulo_5 {
	fill: rgba(255,255,255,1);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_5 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1484px;
	height: 86px;
	left: 227px;
	top: 393px;
}
#Retngulo_6 {
	fill: rgba(251,255,255,1);
	stroke: rgba(0,76,162,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_6 {
	filter: drop-shadow(0px 3px 6px rgba(0, 76, 162, 1));
	position: absolute;
	overflow: visible;
	width: 1484px;
	height: 86px;
	left: 227px;
	top: 486px;
}
#ID2365 {
	left: 261px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#ID29122020 {
	left: 384px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Bruno_Bicudo {
	left: 521px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Atestado_Mdico {
	left: 744px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Mensagem {
	left: 970px;
	top: 202px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(93,90,90,1);
}
#Segue_o_meu_atestado_mdico_jun {
	left: 970px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 363px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Retngulo_10 {
	fill: rgba(233,23,23,1);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_10 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 64px;
	left: 1393px;
	top: 310px;
}
#Aberto {
	left: 1451px;
	top: 319px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#Retngulo_11 {
	fill: rgba(36,255,109,1);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_11 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 64px;
	left: 1393px;
	top: 404px;
}
#Encerrado {
	left: 1436px;
	top: 413px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(12,12,12,1);
}
#Retngulo_12 {
	fill: rgba(223,248,0,1);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_12 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 64px;
	left: 1393px;
	top: 497px;
}
#Em_atendimento {
	left: 1406px;
	top: 506px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(12,12,12,1);
}
#ID2365_bv {
	left: 261px;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#ID29122020_bw {
	left: 384px;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Andr_Teiga {
	left: 521px;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Atestado_Mdico_by {
	left: 744px;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Segue_o_meu_atestado_mdico_jun_bz {
	left: 970px;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 363px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#ID2365_b {
	left: 261px;
	top: 508px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#ID29122020_b {
	left: 384px;
	top: 508px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Jos_Teiga {
	left: 521px;
	top: 508px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Atestado_Mdico_b {
	left: 744px;
	top: 508px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Segue_o_meu_atestado_mdico_jun_b {
	left: 970px;
	top: 508px;
	position: absolute;
	overflow: visible;
	width: 363px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(93,90,90,1);
}
#Logo-branca-sem-fundo-com-somb {
	position: absolute;
	width: 134px;
	height: 38px;
	left: 39px;
	top: 16px;
	overflow: visible;
}
#Logo-branca-sem-fundo-com-somb_b {
	position: absolute;
	width: 134px;
	height: 38px;
	left: 1064px;
	top: 1012px;
	overflow: visible;
}
#eye {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 1633px;
	top: 313px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Atendimento___Tela_do_atendimento.html;
	cursor: pointer;
}
#eye_b {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 1633px;
	top: 407px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Atendimento___Tela_do_atendimento.html;
	cursor: pointer;
}
#eye_ca {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 1633px;
	top: 500px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Atendimento___Tela_do_atendimento.html;
	cursor: pointer;
}
#Links_teis {
	left: 12px;
	top: 623px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Retngulo_14 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_14 {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 69px;
	left: 0px;
	top: 395px;
}
#Meus_Chamados {
	left: 12px;
	top: 419px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#next {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 187px;
	top: 422px;
	overflow: visible;
}
#next_ce {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 184px;
	top: 558px;
	overflow: visible;
}
#next_cf {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 184px;
	top: 489px;
	overflow: visible;
}
#next_cg {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 184px;
	top: 623px;
	overflow: visible;
}
#Retngulo_16 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_16 {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 69px;
	left: -1px;
	top: 532px;
}
#Retngulo_17 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_17 {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 69px;
	left: -1px;
	top: 600px;
}
#Retngulo_38 {
	fill: rgba(255,255,255,1);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_38 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 128px;
	height: 52px;
	left: 225px;
	top: 233px;
}
#Retngulo_39 {
	fill: rgba(255,255,255,1);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_39 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 139px;
	height: 52px;
	left: 370px;
	top: 233px;
}
#Retngulo_40 {
	fill: rgba(255,255,255,1);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_40 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 226px;
	height: 52px;
	left: 521px;
	top: 233px;
}
#Retngulo_41 {
	fill: rgba(255,255,255,1);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_41 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 197px;
	height: 52px;
	left: 744px;
	top: 233px;
}
#Retngulo_42 {
	fill: rgba(255,255,255,1);
	stroke: rgba(206,206,206,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_42 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 226px;
	height: 52px;
	left: 1393px;
	top: 233px;
}
#Polgono_1 {
	fill: rgba(188,188,188,1);
}
.Polgono_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 21px;
	height: 16px;
	transform: matrix(1,0,0,1,1573,242) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polgono_2 {
	fill: rgba(188,188,188,1);
}
.Polgono_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 21px;
	height: 16px;
	transform: matrix(1,0,0,1,1573,242) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polgono_3 {
	fill: rgba(188,188,188,1);
}
.Polgono_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 21px;
	height: 16px;
	transform: matrix(1,0,0,1,890,242) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Controle_de_Usurios {
	left: 12px;
	top: 690px;
	position: absolute;
	overflow: visible;
	width: 172px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Retngulo_50 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_50 {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 69px;
	left: -1px;
	top: 667px;
}