.N_71 {
	filter: drop-shadow(6px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 45px;
	left: 523px;
    top: 296px;
    border-radius: 50px;
}
.N_95 {

	filter: drop-shadow(6px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 45px;
	left: 424px;
    top: 378px;
    border-radius: 50px;
}
.N_94 {
	filter: drop-shadow(6px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 100px;
	height: 45px;
	left: 835px;
    top: 377px;
    border-radius: 50px;
}