{% extends 'base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<main role="main"  class="col-md-4 col-sm-4 m-sm-auto m-xl-auto m-auto col-lg-7 col-xl-9  justify-content-left pt-5" >
    <div class="container-fluid bg-light mt-4 p-2 shadow  ">
        <div class="bg-white mt-2 p-2 mb-3  fs-5 d-flex justify-content-between fw-bold border-bottom roundde" >
            <span>Minhas Requisições</span>
        <a href="{% url 'add_requsition'%}"  class="rounded  bg-primary p-2 text-white fw-bold"  >
                Fazer requisição
        </a>
    </div>
        <div class=" row pl-3 d-flex justify-content-around ">
            <div class="card text-white mb-3" style="max-width: 19rem; background-color:#800080;">
                <div class="card-header">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bg-transparent " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none ;">
                          Em Validação
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for req_val in req_vals  %}
                            <a class="dropdown-item "href="{% url 'requisition_details' req_val.purchase_requisition_id%}">
                            <div class="row bg-transparent text-dark m-auto p-2 rounded">   
                                {{req_val.purchase_requisition_id}} -
                                {% reqprod  req_val.purchase_requisition_id  as req_prods %}                    
                                {{req_prods.0.requisition_product}}
                            </div>
                            </a>
                            {% endfor %}
                        </div>
                      </div>
                      
                </div>
            </div>
                <div class="card text-white bg-warning mb-3" style="max-width: 19rem;">
                    <div class="card-header">
                        <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bg-transparent " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none ;">
                          Em Cotação
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for req_cot in req_cots  %}
                            <a class="dropdown-item"href="{% url 'requisition_details' req_cot.purchase_requisition_id%}">
                                <div class="row bg-light text-dark mb-2 p-2 rounded ">   
                                {{req_cot.purchase_requisition_id}} -
                                {% reqcot  req_cot.purchase_requisition_id  as req_pro_cots %}                    
                                {{req_pro_cots.0.requisition_product}}
                            </div>
                            </a>
                            {% endfor %}
                        </div>
                      </div> 
                       
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 19rem;">
                <div class="card-header">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bg-transparent " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none ;">
                          Aprovados
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for req_appr in req_apprs  %}
                            <a class="dropdown-item" href="{% url 'requisition_details' req_appr.purchase_requisition_id%}">
                            <div class="row bg-light text-dark mb-2 p-2 rounded">   
                                {{req_appr.purchase_requisition_id}} -
                                {% reqappr  req_appr.purchase_requisition_id  as req_pro_apprs %}                    
                                {{req_pro_apprs.0.requisition_product}}
                            </div>
                            </a>
                            {% endfor %} 
                        </div>
                      </div> 
                </div>
                </div>
                <div class="card text-white bg-danger mb-3" style="max-width: 19rem;">
                    <div class="card-header">
                        <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bg-transparent " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none ;">
                          Negados
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for req_den in req_dens  %}
                            <a  class="dropdown-item"href="{% url 'requisition_details' req_den.purchase_requisition_id%}">
                            <div class="row bg-light text-dark mb-2 p-2 rounded">   
                                {{req_den.purchase_requisition_id}} -
                                {% reqden  req_den.purchase_requisition_id  as reqden %}                    
                                {{reqden.0.requisition_product}}
                            </div>
                            </a>
                            {% endfor %} 
                        </div>
                      </div>                   
                    </div>
                </div>
                <div class="card text-white  mb-3" style="max-width: 19rem;background-color:#cccccc;">
                    <div class="card-header">
                        <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bg-transparent " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none ;">
                          Devolvidos
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          {% for req_ret in req_rets  %}
                          <a  class="dropdown-item"href="{% url 'requisition_details' req_ret.purchase_requisition_id%}">
                          <div class="row bg-light text-dark mb-2 p-2 rounded">   
                              {{req_ret.purchase_requisition_id}} -
                              {% reqret  req_ret.purchase_requisition_id  as reqrets %}                    
                              {{reqrets.0.requisition_product}}
                          </div>
                          </a>
                          {% endfor %}
                        </div>
                      </div> 
                   
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3" style="max-width: 19rem;">
                    <div class="card-header">
                        <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bg-transparent " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none ;">
                          Comprados
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          {% for req_bougth in req_bougths  %}
                          <a class="dropdown-item" href="{% url 'requisition_details' req_bougth.purchase_requisition_id%}">
                          <div class="row bg-light text-dark mb-2 p-2 rounded">   
                              {{req_bougth.purchase_requisition_id}} -
                              {% reqbougth  req_bougth.purchase_requisition_id  as req_pro_bougth %}                    
                              {{req_pro_bougth.0.requisition_product}}
                          </div>
                          </a>
                          {% endfor %}
                        </div>
                      </div>  
                   
                    </div>
                </div>
                <div class="card text-white mb-3" style="max-width: 19rem;background-color: #008000;">
                    <div class="card-header">
                        <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bg-transparent " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none ;">
                          Entregues
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          {% for req_deliv in req_delivs  %}
                          <a class="dropdown-item" href="{% url 'requisition_details' req_deliv.purchase_requisition_id%}">
                          <div class="row bg-light text-dark mb-2 p-2 rounded">   
                              {{req_deliv.purchase_requisition_id}} -
                              {% reqdeliv  req_deliv.purchase_requisition_id  as req_delivs %}                    
                              {{req_delivs.0.requisition_product}}
                          </div>
                          </a>
                          {% endfor %}
                      </div>  
                   
                    </div>
                </div>

          

            </div>
        </div>
    </main>
{% endblock content %}