{% extends 'base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<main role="main"  class="col-md-6 col-sm-4 m-sm-auto m-xl-auto m-auto  m-lg-auto col-lg-8  justify-content-left pt-5"  >
    <div class="container bg-light mt-4   shadow p-3 ">
        <div class="row p-3 fs-5 rounded fw-bold bg-light">
            Requisições de compras aguardando validação do Gestor Responsavel
       </div>

     <div class=" row  mb-2  mt-2 bg-danger p-3 text-white  rounded" >
         <div class="col">
             ID da requisição
         </div>
         <div class="col">
            Requisitante
        </div>
         <div class="col">
             Produto
         </div>
         <div class="col">
            Data da requisição
         </div>
         <div class="col">
           status
         </div>
     </div>
     {% for requisition in  requisitions %}
     <a href="{% url 'manager_req_details' requisition.purchase_requisition_id%}">
     <div class=" row  bg-light shadow mb-2 p-2 rounded border">
         <div class="col">
             {{requisition.purchase_requisition_id}}
         </div>
         <div class="col">
             {{requisition.requester}}
         </div>
         <div class="col">
            {{requisition.purchase_requisition_id}} -
            {% reqprod  requisition.purchase_requisition_id  as req_prods %}                    
            {{req_prods.0.requisition_product}}
         </div>
         <div class="col">
            {{requisition.create}}
        </div>
         <div class="col">
            {{requisition.status}}
        </div>
     </div>  
    </a>
     {% endfor %}   

    </div>

</main>
{% endblock content %}