{% extends 'base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<main role="main"  class="col-md-4 col-sm-4 m-sm-auto m-xl-auto m-auto col-lg-7 col-xl-9  justify-content-left pt-5"  >
    <div class="container-fluid bg-light mt-4 p-3 shadow  ">

        <form method="POST" action="#">
            {% csrf_token %}
        <div class=" row bg-danger  p-2 mb-3   fs-5  fw-bold border-bottom rounded" >
            <div class="col-11  text-white d-flex justify-content-center">
            <span>Requisição - {{purch_req.purchase_requisition_id}} - {{products.0.requisition_product}}-{{purch_req.status}}</span> 
            </div>  
            <div class="col-1  d-flex justify-content-end">
                <a href="{% url 'manager_requisition' %}">
                    <img  id="" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">
                </a>
            </div>   
        </div>
        
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="bg-danger text-white  p-2 rounded">Requisitante : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{purch_req.requester}}</span></div>
            <div class="col-3 bg-light "><strong class="bg-danger text-white  p-2 rounded">Status : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{purch_req.status|upper}}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="bg-danger text-white  p-2 rounded">Prazo de entrega esperado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof  purch_req.deadline ""|upper %}</span></div>
            <div class="col-3 bg-light "><strong class="bg-danger text-white  p-2 rounded">Prazo de consumo estimado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof purch_req.forecast ""|upper %}</span></div>
        </div>
     
        <div class=" bg-danger rounded p-2 mb-2 mt-2">
        </div>  
        <div class="row bg-light border p-3 rounded">
            <div class="col bg-light d-flex justify-content-center "><strong class="bg-danger text-white  p-2 rounded">Quantidade: </strong></div>
            <div class="col bg-light d-flex justify-content-center "><strong class="bg-danger text-white  p-2 rounded">Unidade: </strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="bg-danger text-white p-2 rounded">Produto:</strong></div>
            <div class="col-2 bg-light  d-flex justify-content-center"><strong class="bg-danger text-white p-2 rounded">Imagem:</strong></div>
        </div>
        {% for product in products %}


       
        <!-- lin-->
        <div class="row bg-light border mb-3 p-3 rounded">
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.amount}}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {% firstof product.unit  ""|upper%}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {{product.requisition_product|upper}}</span></div>

            <div class="col-2 bg-light  d-flex justify-content-center"><span class="p-2 w-50" ><a href="#" data-bs-toggle="modal" data-bs-target="#imageModal">
            {% Productimage  product.id as img %} <img src="{{img.image.url}}"class="w-50" ></a></span></div>           
        </div>   
        
        


         <!--modal image -->
            <div class="modal fade" id="imageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Imagem</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{img.image.url}}"class="w-100" >
                  </div>
                  <div class="modal-footer">
                               
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
                  </div>
                </div>
              </div>
            </div>
              <!--modal cotation -->

            {% endfor %}    
          
           
            <div class="row mt-2">
                <div class=" d-flex justify-content-between">
                <button type="submit" class="btn btn-success" value="{{requisition.purchase_requisition_id}}" name="req_approved" >Aprovar requisição</button>     
                <button type="submit" class="btn text-white"  style="background-color: #751FB1;" value="{{requisition.purchase_requisition_id}}" name="req_denied" >Negar requisição</button>
              </div>
            </div>   
         
        </form>
        </div>
</main>
{% endblock content %}