{% extends 'base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}

<main role="main"  class="col-md-4 col-sm-4 m-sm-auto m-xl-auto m-auto col-lg-7 col-xl-9  justify-content-left pt-5"  >
    <div class="container-fluid bg-light mt-4 p-2 shadow  p">
        <div class="bg-white mt-2 p-2 mb-3  fs-5 d-flex justify-content-between fw-bold border-bottom roundde" >
            <span>Requisições</span>
         
          </div>
        <div class=" row pl-3 d-flex justify-content-around">
           
              <div class="card text-white mb-3"  style="max-width: 19rem;background-color: #751FB1;; ">
                <div class="card-header">Aguardando Cotação</div>
                <div class="card-body overflow-auto" style="max-height:7rem;">
                  
                    {% for req_cot in req_cots  %}
                    <a href="{% url 'requisition_cotation' req_cot.purchase_requisition_id %}">
                        
                        <div class="row bg-light text-dark mb-2 p-2 rounded ">   
                        {{req_cot.purchase_requisition_id}} -
                        {% reqcot  req_cot.purchase_requisition_id  as req_pro_cots %}                    
                        {{req_pro_cots.0.requisition_product}}
                    </div>
                    </a>
                    {% endfor %}  
                       
                </div>
              </div>
              <div class="card text-white bg-warning mb-3" style="max-width: 19rem;">
                <div class="card-header">Aguardando aprovação do gestor</div>
                <div class="card-body overflow-auto" style="max-height:7rem;">
                  
                    {% for req_man_appr in req_man_apprs  %}
                    <a href="{% url 'requisition_cotation' req_man_appr.purchase_requisition_id%}">
                    <div class="row bg-light text-dark mb-2 p-2 rounded">   
                        {{req_man_appr.purchase_requisition_id}} -
                        {% reqmanappr  req_man_appr.purchase_requisition_id  as req_man_apprs %}                    
                        {{req_man_apprs.0.requisition_product}}
                    </div>
                    </a>
                    {% endfor %}  
                </div>
              </div>
              <div class="card text-white bg-info mb-3" style="max-width: 19rem; ">
                <div class="card-header">Aguadando aprovação financeira</div>
                <div class="card-body overflow-auto" style="max-height:7rem;">
                    {% for req_fin_appr in req_fin_apprs  %}
                    <a href="{% url 'requisition_cotation' req_fin_appr.purchase_requisition_id%}">
                    <div class="row bg-light text-dark mb-2 p-2 rounded">   
                        {{req_fin_appr.purchase_requisition_id}} -
                        {% reqbougth  req_fin_appr.purchase_requisition_id  as req_fin_apprs %}                    
                        {{req_fin_apprs.0.requisition_product}}
                    </div>
                    </a>
                    {% endfor %}  
                   
                </div>
              </div>
        </div> 
        <div class=" row pl-3 d-flex justify-content-around">
              <div class="card text-white bg-success mb-3" style="max-width: 19rem;">
                <div class="card-header">Aprovados</div>
                <div class="card-body overflow-auto" style="max-height:7rem;">
                    {% for req_appr in req_apprs  %}
                    <a href="{% url 'requisition_cotation' req_appr.purchase_requisition_id%}">
                    <div class="row bg-light text-dark mb-2 p-2 rounded">   
                        {{req_appr.purchase_requisition_id}} -
                        {% reqappr  req_appr.purchase_requisition_id  as req_pro_appr %}                    
                        {{req_pro_appr.0.requisition_product}}
                    </div>
                    </a>
                    {% endfor %}  
                   
                </div>
              </div>
              <div class="card text-white bg-danger mb-3" style="max-width: 19rem;">
                <div class="card-header">Negados</div>
                <div class="card-body overflow-auto" style="max-height:7rem;">
                    {% for req_den in req_dens  %}
                    <a href="{% url 'requisition_cotation' req_den.purchase_requisition_id%}">
                    <div class="row bg-light text-dark mb-2 p-2 rounded">   
                        {{req_den.purchase_requisition_id}} -
                        {% reqden  req_den.purchase_requisition_id  as reqden %}                    
                        {{reqden.0.requisition_product}}
                    </div>
                    </a>
                    {% endfor %}  
                   
                </div>
              </div>
              <div class="card text-white  mb-3" style="max-width: 19rem;background-color:#cccccc;">
                <div class="card-header">Devolvidos</div>
                <div class="card-body overflow-auto" style="max-height:7rem;">
                    {% for req_ret in req_rets  %}
                    <a href="{% url 'requisition_cotation' req_ret.purchase_requisition_id%}">
                    <div class="row bg-light text-dark mb-2 p-2 rounded">   
                        {{req_ret.purchase_requisition_id}} -
                        {% reqret  req_ret.purchase_requisition_id  as reqrets %}                    
                        {{reqrets.0.requisition_product}}
                    </div>
                    </a>
                    {% endfor %}  
                   
                </div>
              </div>
              <div class="card text-white bg-secondary mb-3"  style="max-width:19rem">
                <div class="card-header">Aguardando pagamento</div>
                <div class="card-body overflow-auto" style="max-height:7rem;">
                  
                    {% for req_pay in req_pays  %}
                    <a href="{% url 'requisition_cotation' req_pay.purchase_requisition_id %}">
                        
                        <div class="row bg-light text-dark mb-2 p-2 rounded ">   
                        {{req_pay.purchase_requisition_id}} -
                        {% reqpay  req_pay.purchase_requisition_id  as req_pro_pays %}                    
                        {{req_pro_pays.0.requisition_product}}
                    </div>
                    </a>
                    {% endfor %}  
                       
                </div>
              </div>
              <div class="card text-white bg-primary mb-3" style="max-width: 19rem;">
                <div class="card-header">Comprados</div>
                <div class="card-body overflow-auto" style="max-height:7rem;">
                    {% for req_bougth in req_bougths  %}
                    <a href="{% url 'requisition_cotation' req_bougth.purchase_requisition_id%}">
                    <div class="row bg-light text-dark mb-2 p-2 rounded">   
                        {{req_bougth.purchase_requisition_id}} -
                        {% reqbougth  req_bougth.purchase_requisition_id  as req_bougths %}                    
                        {{req_bougths.0.requisition_product}}
                    </div>
                    </a>
                    {% endfor %}  
                   
                </div>
              </div>
              <div class="card text-white mb-3" style="max-width: 19rem;background-color: #008000;">
                <div class="card-header">Entregues</div>
                <div class="card-body overflow-auto" style="max-height:7rem;">
                    {% for req_deliv in req_delivs  %}
                    <a href="{% url 'requisition_cotation' req_deliv.purchase_requisition_id%}">
                    <div class="row bg-light text-dark mb-2 p-2 rounded">   
                        {{req_deliv.purchase_requisition_id}} -
                        {% reqdeliv  req_deliv.purchase_requisition_id  as req_delivs %}                    
                        {{req_delivs.0.requisition_product}}
                    </div>
                    </a>
                    {% endfor %}  
                   
                </div>
              </div>

          

        </div>
    </div>
</main>

{% endblock content %}