{% extends 'base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}

{% if requisition.status == 'Aguardando verificação do Gestor' %}
<main role="main"  class="col-md-6 col-sm-4 m-sm-auto m-xl-auto m-auto  m-lg-auto col-lg-8 
   justify-content-left pt-5"  >
    <div class="container bg-light mt-4   shadow p-3 ">
        <form method="POST" action="#">
            {% csrf_token %}
        <div style="border:solid; border-color: #751FB1;" class=" row  text-dark  p-2 mb-3   fs-5  fw-bold  rounded" >
            <div class="col-11 d-flex justify-content-center">
            <span>Requisição - {{requisition.purchase_requisition_id}} - {{products.0.requisition_product}} - {{requisition.status}} </span> 
            </div>  
            <div class="col-1  d-flex justify-content-end">
                <a href="{% url 'my_purchase_request' %}">
                    <img  id="" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">
                </a>
            </div>   
        </div>
        
        <div class="row bg-light border p-3 rounded">
            <div class="col-6 bg-light "><strong style="border:solid; border-color: #751FB1;" class="text-dark p-2 mr-3 rounded">Requisitante : </strong>
            <span class="fw-bold" > {{requisition.requester}}</span></div>
            <div class="col-6 bg-light "><strong style="border:solid; border-color: #751FB1;"class="text-dark p-2  mr-3 r rounded">Gestor : </strong>
           <span class="fw-bold" > {{requisition.manager}}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-6 bg-light "><strong  style="border:solid; border-color: #751FB1;" class="text-dark p-2 mr-3 rounded">Status : </strong>
            <span class="fw-bold" > {{requisition.status|upper}}</span></div>
            <div class="col-6 bg-light "><strong style="border:solid; border-color: #751FB1;" class=" text-dark p-2 mr-3 rounded">Prazo de entrega esperado : </strong>
            <span class="fw-bold" > {% firstof  requisition.deadline ""|upper %}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-6 bg-light "><strong style="border:solid; border-color: #751FB1;" class="text-dark p-2 mr-3 rounded">Responsavel pela compra: </strong>
            <span class="fw-bold" > {% firstof requisition.buyer  ""|upper%}</span></div>
            <div class="col-6 bg-light "><strong style="border:solid; border-color: #751FB1;"" class=" text-dark p-2 mr-3 rounded">Prazo de consumo estimado : </strong>
            <span class="fw-bold" > {% firstof requisition.forecast ""|upper %}</span></div>
        </div>
     
        <div style="border:solid; border-color: #751FB1;" class=" rounded p-2 mb-2 mt-2">
        </div>  
        <div class="row bg-light border p-3 rounded">
            <div class="col bg-light d-flex justify-content-center "><strong style="border:solid; border-color: #751FB1;" class="text-dark p-2 rounded">Quantidade: </strong></div>
            <div class="col bg-light d-flex justify-content-center "><strong style="border:solid; border-color: #751FB1;" class="text-dark p-2 rounded">Unidade: </strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong style="border:solid; border-color: #751FB1;" class="text-dark p-2 rounded">Produto:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong style="border:solid; border-color: #751FB1;" class="text-dark p-2 rounded">Imagem:</strong></div>

        </div>
        {% for product in products %}


       
        <!-- lin-->
        <div class="row bg-light border mb-3 p-3 rounded">
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.amount}}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {% firstof product.unit  ""|upper%}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {{product.requisition_product|upper}}</span></div>

            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold w-50" ><a href="#" class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#imageModal{{product.id}}">
            {% Productimage  product.id as img %} <img src="{{img.image.url}}"class="w-50" ></a></span></div> 
  
        </div>   
        
        


         <!--modal image -->
            <div class="modal fade" id="imageModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Imagem</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{img.image.url}}"class="w-100" >
                  </div>
                  <div class="modal-footer">
                               
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
                  </div>
                </div>
              </div>
            </div>

   

            



        
            {% endfor %}    
           
           

        </form>

    </div>
 
</main>
{% elif requisition.status == 'Aguardando cotação'  %}
<main role="main"  class="col-md-6 col-sm-4 m-sm-auto m-xl-auto m-auto  m-lg-auto col-lg-8 
   justify-content-left pt-5"  >
    <div class="container bg-light mt-4   shadow p-3 ">
        <form method="POST" action="#">
            {% csrf_token %}
        <div class=" row  border border-warning text-dark  p-2 mb-3   fs-5  fw-bold  rounded" >
            <div class="col-11 d-flex justify-content-center">
            <span>Requisição - {{requisition.purchase_requisition_id}} - {{products.0.requisition_product}} - {{requisition.status}} </span> 
            </div>  
            <div class="col-1  d-flex justify-content-end">
                <a href="{% url 'my_purchase_request' %}">
                    <img  id="" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">
                </a>
            </div>   
        </div>
        
        <div class="row bg-light border p-3 rounded">
            <div class="col-6 bg-light "><strong " class="border border-warning  text-dark p-2 mr-3 rounded">Requisitante : </strong>
            <span class="fw-bold" > {{requisition.requester}}</span></div>
            <div class="col-6 bg-light "><strong class="  border border-warning  text-dark p-2  mr-3 r rounded">Gestor : </strong>
           <span class="fw-bold" > {{requisition.manager}}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-6 bg-light "><strong   class="  border border-warning text-dark p-2 mr-3 rounded">Status : </strong>
            <span class="fw-bold" > {{requisition.status|upper}}</span></div>
            <div class="col-6 bg-light "><strong  class="  border border-warning  text-dark p-2 mr-3 rounded">Prazo de entrega esperado : </strong>
            <span class="fw-bold" > {% firstof  requisition.deadline ""|upper %}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-6 bg-light "><strong class="  border border-warning text-dark p-2 mr-3 rounded">Responsavel pela compra: </strong>
            <span class="fw-bold" > {% firstof requisition.buyer  ""|upper%}</span></div>
            <div class="col-6 bg-light "><strong  class="  border border-warning  text-dark p-2 mr-3 rounded">Prazo de consumo estimado : </strong>
            <span class="fw-bold" > {% firstof requisition.forecast ""|upper %}</span></div>
        </div>
     
        <div class=" border border-warning  rounded p-2 mb-2 mt-2">
        </div>  
        <div class="row bg-light border p-3 rounded">
            <div class="col bg-light d-flex justify-content-center "><strong class="  border border-warning  text-dark p-2 rounded">Quantidade: </strong></div>
            <div class="col bg-light d-flex justify-content-center "><strong class="  border border-warning  text-dark p-2 rounded">Unidade: </strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="  border border-warning  text-dark p-2 rounded">Produto:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="  border border-warning  text-dark p-2 rounded">Imagem:</strong></div>

        </div>
        {% for product in products %}


       
        <!-- lin-->
        <div class="row bg-light border mb-3 p-3 rounded">
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.amount}}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {% firstof product.unit  ""|upper%}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {{product.requisition_product|upper}}</span></div>

            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold w-50" ><a href="#" class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#imageModal{{product.id}}">
            {% Productimage  product.id as img %} <img src="{{img.image.url}}"class="w-50" ></a></span></div> 
  
        </div>   
        
        


         <!--modal image -->
            <div class="modal fade" id="imageModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Imagem</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{img.image.url}}"class="w-100" >
                  </div>
                  <div class="modal-footer">
                               
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}    
        </form>
    </div>
</main>
{% elif requisition.status == 'aprovado'  %}
<main role="main"  class="col-md-6 col-sm-4 m-sm-auto m-xl-auto m-auto  m-lg-auto col-lg-8 
   justify-content-left pt-5"  >
    <div class="container bg-light mt-4   shadow p-3 ">
      <form method="POST" action="#" enctype="multipart/form-data" >
            {% csrf_token %}
        <div class=" row border border-success  p-2 mb-3   fs-5  fw-bold border-bottom rounded" >
            <div class="col-11 d-flex justify-content-center">
            <span>Requisição - {{requisition.purchase_requisition_id}} - {{products.0.requisition_product}}- {{requisition.status}}</span> 
            </div>  
            <div class="col-1  d-flex justify-content-end">
                <a href="{% url 'purchase_request' %}">
                    <img  id="" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">
                </a>
            </div>   
        </div>
        
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="border border-success p-2 rounded">Requisitante : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.requester}}</span></div>
            <div class="col-3 bg-light "><strong class="border border-success p-2 rounded">Gestor : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.manager}}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="border border-success p-2 rounded">Status : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.status|upper}}</span></div>
            <div class="col-3 bg-light "><strong class="border border-success p-2 rounded">Prazo de entrega esperado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof  requisition.deadline ""|upper %}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="border border-success p-2 rounded">Responsavel pela compra: </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof requisition.buyer  ""|upper%}</span></div>
            <div class="col-3 bg-light "><strong class="border border-success p-2 rounded">Prazo de consumo estimado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof requisition.forecast ""|upper %}</span></div>
        </div>
     
        <div class=" border border-success rounded p-2 mb-2 mt-2">
        </div>  
        <div class="row bg-light border p-3 rounded">
            <div class="col bg-light d-flex justify-content-center "><strong class="border border-success p-2 rounded">Quantidade: </strong></div>
            <div class="col bg-light d-flex justify-content-center "><strong class="border border-success p-2 rounded">Unidade: </strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="border border-success p-2 rounded">Produto:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="border border-success p-2 rounded">Imagem:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="border border-success p-2 rounded">Cotações unitarias:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class=" border border-success p-2 rounded">Preço do Produto:</strong></div>
            
             
        </div>
        {% for product in products %}


       
        <!-- lin-->
        <div class="row bg-light border mb-3 p-3 rounded">
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.amount}}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {% firstof product.unit  ""|upper%}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {{product.requisition_product|upper}}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold w-50" ><a href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{product.id}}">
            {% Productimage  product.id as img %} <img src="{{img.image.url}}"class="w-50" ></a></span></div> 
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold p-2 " >  <a href="#" data-bs-toggle="modal" data-bs-target="#cotationModal{{product.id}}">  {{product.cotations_length}}/3</span></a></span></div>
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.price_product}}</span></div>                
        </div>   
        
        


         <!--modal image -->
            <div class="modal fade" id="imageModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Imagem</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{img.image.url}}"class="w-100" >
                  </div>
                  <div class="modal-footer">
                               
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
                  </div>
                </div>
              </div>
            </div>
      
    
            {% endfor %}    
        </form>
    </div>
</main>
{% elif requisition.status == 'negado'  %}
<main role="main"  class="col-md-6 col-sm-4 m-sm-auto m-xl-auto m-auto  m-lg-auto col-lg-8 
   justify-content-left pt-5"  >
    <div class="container bg-light mt-4   shadow p-3 ">
        <form method="POST" action="#">
            {% csrf_token %}
        <div class=" row border border-danger  p-2 mb-3   fs-5  fw-bold border-bottom rounded" >
            <div class="col-11 d-flex justify-content-center">
            <span>Requisição - {{requisition.purchase_requisition_id}} - {{products.0.requisition_product}}- {{requisition.status}}</span> 
            </div>  
            <div class="col-1  d-flex justify-content-end">
                <a href="{% url 'purchase_request' %}">
                    <img  id="" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">
                </a>
            </div>   
        </div>
        
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="border border-danger p-2 rounded">Requisitante : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.requester}}</span></div>
            <div class="col-3 bg-light "><strong class="border border-danger p-2 rounded">Gestor : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.manager}}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="border border-danger p-2 rounded">Status : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.status|upper}}</span></div>
            <div class="col-3 bg-light "><strong class="border border-danger p-2 rounded">Prazo de entrega esperado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof  requisition.deadline ""|upper %}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="border border-danger p-2 rounded">Responsavel pela compra: </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof requisition.buyer  ""|upper%}</span></div>
            <div class="col-3 bg-light "><strong class="border border-danger p-2 rounded">Prazo de consumo estimado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof requisition.forecast ""|upper %}</span></div>
        </div>
     
        <div class=" border border-danger rounded p-2 mb-2 mt-2">
        </div>  
        <div class="row bg-light border p-3 rounded">
            <div class="col bg-light d-flex justify-content-center "><strong class="border border-danger p-2 rounded">Quantidade: </strong></div>
            <div class="col bg-light d-flex justify-content-center "><strong class="border border-danger p-2 rounded">Unidade: </strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="border border-danger p-2 rounded">Produto:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="border border-danger p-2 rounded">Imagem:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="border border-danger p-2 rounded">Cotações unitarias:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class=" border border-danger p-2 rounded">Preço do Produto:</strong></div>
            <!-- <div class="col bg-light  d-flex justify-content-center"><strong class=" border border-danger p-2 rounded">Motivo:</strong></div> -->
            
        </div>
        {% for product in products %}


       
        <!-- lin-->
        <div class="row bg-light border mb-3 p-3 rounded">
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.amount}}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {% firstof product.unit  ""|upper%}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {{product.requisition_product|upper}}</span></div>

            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold w-50" ><a href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{product.id}}">
            {% Productimage  product.id as img %} <img src="{{img.image.url}}"class="w-50" ></a></span></div> 

            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold p-2 " >  <a href="#" data-bs-toggle="modal" data-bs-target="#cotationModal{{product.id}}">  {{product.cotations_length}}/3</span></a></span></div>
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.price_product}}</span></div> 
                
                 
        </div>   
         <!--modal image -->
            <div class="modal fade" id="imageModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Imagem</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{img.image.url}}"class="w-100" >
                  </div>
                  <div class="modal-footer">
                               
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}               
        </form>
    </div>
</main>
{% elif requisition.status == 'Devolvida'  %}
<main role="main"  class="col-md-6 col-sm-4 m-sm-auto m-xl-auto m-auto  m-lg-auto col-lg-8 
   justify-content-left pt-5"  >
    <div class="container bg-light mt-4   shadow p-3 ">
        <form method="POST" action="#">
            {% csrf_token %}
        <div style="border:solid #cccccc;" class=" row border   p-2 mb-3   fs-5  fw-bold border-bottom rounded" >
            <div class="col-11 d-flex justify-content-center">
            <span>Requisição - {{requisition.purchase_requisition_id}} - {{products.0.requisition_product}}- {{requisition.status}}</span> 
            </div>  
            <div class="col-1  d-flex justify-content-end">
                <a href="{% url 'purchase_request' %}">
                    <img  id="" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">
                </a>
            </div>   
        </div>
        
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong style="border:solid #cccccc;" class=" p-2 rounded">Requisitante : </strong></div>
            <div class="col-3 bg-light"><span  class="fw-bold" > {{requisition.requester}}</span></div>
            <div class="col-3 bg-light "><strong style="border:solid #cccccc;"class=" p-2 rounded">Gestor : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.manager}}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong style="border:solid #cccccc;" class=" p-2 rounded">Status : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.status|upper}}</span></div>
            <div class="col-3 bg-light "><strong style="border:solid #cccccc;" class="p-2 rounded">Prazo de entrega esperado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof  requisition.deadline ""|upper %}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong style="border:solid #cccccc;" class=" p-2 rounded">Responsavel pela compra: </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof requisition.buyer  ""|upper%}</span></div>
            <div class="col-3 bg-light "><strong  style="border:solid #cccccc;"class=" p-2 rounded">Prazo de consumo estimado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof requisition.forecast ""|upper %}</span></div>
        </div>
     
        <div style="border:solid #cccccc;" class="rounded p-2 mb-2 mt-2">
        </div>  
        <div class="row bg-light border p-3 rounded">
            <div class="col bg-light d-flex justify-content-center "><strong style="border:solid #cccccc;" class=" p-2 rounded">Quantidade: </strong></div>
            <div class="col bg-light d-flex justify-content-center "><strong style="border:solid #cccccc;" class=" p-2 rounded">Unidade: </strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong style="border:solid #cccccc;" class=" p-2 rounded">Produto:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong style="border:solid #cccccc;" class=" p-2 rounded">Imagem:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong style="border:solid #cccccc;" class=" p-2 rounded">Editar:</strong></div>
           
   
            
        </div>
        {% for product in products %}


       
        <!-- lin-->
        <div class="row bg-light border mb-3 p-3 rounded">
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.amount}}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {% firstof product.unit  ""|upper%}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {{product.requisition_product|upper}}</span></div>

            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold w-50" ><a href="#" class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#imageModal{{product.id}}">
            {% Productimage  product.id as img %} <img src="{{img.image.url}}"class="w-50" ></a></span></div> 
            
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" ><a href="#" class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#requisitionModal{{product.id}}">  <i class="uil-edit"></i></a></span></div>
                
                 
        </div>   
        
        


         <!--modal image -->
            <div class="modal fade" id="imageModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Imagem</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{img.image.url}}"class="w-100" >
                  </div>
                  <div class="modal-footer">
                               
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
                  </div>
                </div>
              </div>
            </div>
              <!--modal cotation -->
          <!--modal cotation -->
          <div class="modal fade" id="requisitionModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-success">
                  <h5 class="modal-title text-white" id="staticBackdropLabel">{{product.requisition_product|upper}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <form method="POST" action="#">
                                        
                                    <div class="row border bg-light  rounded mb-2 p-2 ">
                                        <div class="col">
                                         Quantidade:
                                        </div>
                                        <div class="col">
                                           <input type="number" value="{{product.amount}}" name="amount" placeholder="{{product.amount}}">
                                        </div>
                                    </div>

                                    <div class="row   border bg-light rounded mb-2 p-2 ">
                                        <div class="col">
                                           Unidade
                                        </div>
                                        <div class="col">
                                            <input type="text" value="{{product.unit}}" name="unit"  placeholder="{{product.unit}}">
                                        </div>
                                    </div>
                  

       
                                <div class="row border bg-light  rounded mb-2 p-2 ">
                                    <div class="col">
                                        Produto:
                                    </div>
                                    <div class="col">
                                        <input type="text" value="{{product.requisition_product|upper}}"  name="product" placeholder="{{product.requisition_product|upper}}">
                                    </div>
                                </div>

                                

                </div>
              <div class="modal-footer">  
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" name="edit_requisition" value="{{product.id}}" class="btn btn-primary" >Editar</button>
              </form>
              </div>
            </div>
          </div>
        </div>
 {% endfor %}  
    <div class="row ">
        <form method="POST" action="#">
            {% csrf_token %}
        <div class=" d-flex justify-content-end">
            <button type="submit"  class="p-2 rounded  text-white bg-success" name="resend_req"  >Reenviar Requisição</button>
        </div>
        </form>
    </div>
        <div class="row ">
            <div class="mb-3 ">
                <span style=" border:#cccccc;"  class="p-2">
                Motivo da devolução:
                </span>
            </div>
            <div>
                <textarea class="form-control w-50" placeholder="{{requisition.return_reason}}"  rows="3" disabled ></textarea>
            </div>
        </div>

        </form>

    </div>

</main>
{% elif requisition.status == 'Comprado'  %}
<main role="main"  class="col-md-6 col-sm-4 m-sm-auto m-xl-auto m-auto  m-lg-auto col-lg-8 
   justify-content-left pt-5"  >
    <div class="container bg-light mt-4   shadow p-3 ">
       

        <div class=" row border border-primary  p-2 mb-3   fs-5  fw-bold border-bottom rounded" >
            <div class="col-11 d-flex justify-content-center">
            <span>Requisição - {{requisition.purchase_requisition_id}} - {{products.0.requisition_product}}- {{requisition.status}}</span> 
            </div>  
            <div class="col-1  d-flex justify-content-end">
                <a href="{% url 'my_purchase_request' %}">
                    <img  id="" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">
                </a>
            </div>   
        </div>
        
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="border border-primary p-2 rounded">Requisitante : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.requester}}</span></div>
            <div class="col-3 bg-light "><strong class="border border-primary p-2 rounded">Gestor : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.manager}}</span></div>
        </div>

        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="border border-primary p-2 rounded">Status : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.status|upper}}</span></div>
            <div class="col-3 bg-light "><strong class="border border-primary p-2 rounded">Prazo de entrega esperado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof  requisition.deadline ""|upper %}</span></div>
        </div>


        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong class="border border-primary p-2 rounded">Responsavel pela compra: </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof requisition.buyer  ""|upper%}</span></div>
            <div class="col-3 bg-light "><strong class="border border-primary p-2 rounded">Prazo de consumo estimado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof requisition.forecast ""|upper %}</span></div>
        </div>
     
        <div class=" border border-primary rounded p-2 mb-2 mt-2">
        </div>  

        <div class="row bg-light border p-3 rounded">
            <div class="col bg-light d-flex justify-content-center "><strong class="border border-primary p-2 rounded">Quantidade: </strong></div>
            <div class="col bg-light d-flex justify-content-center "><strong class="border border-primary p-2 rounded">Unidade: </strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="border border-primary p-2 rounded">Produto:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class="border border-primary p-2 rounded">Cotações unitarias:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class=" border border-info p-2 rounded">Preço do Produto:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class=" border border-info p-2 rounded">Comprovante de pagamento:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class=" border border-info p-2 rounded">Nota fiscal:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong class=" border border-info p-2 rounded">Produto entregue</strong></div>
  
           
        </div>
        {% for product in products %}


       
        <!-- lin-->

        <form method="POST" action="# " enctype="multipart/form-data">
          {% csrf_token %}
        <div class="row bg-light border mb-3 p-3 rounded">
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.amount}}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {% firstof product.unit  ""|upper%}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {{product.requisition_product|upper}}</span></div>      
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold p-2 " >  <a href="#" data-bs-toggle="modal" data-bs-target="#cotationModal{{product.id}}">  {{product.cotations_length}}/3</span></a></span></div>
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.price_product}}</span></div> 
            
        </div>

        


         <!--modal image -->
            <div class="modal fade" id="imageModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Imagem</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{img.image.url}}"class="w-100" >
                  </div>
                  <div class="modal-footer">
                               
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
                  </div>
                </div>
              </div>
            </div>
             
        



           
      </form> 

            {% endfor %}   
    </div>

</main>
{% elif requisition.status == 'entregue'  %}
<main role="main"  class="col-md-6 col-sm-4 m-sm-auto m-xl-auto m-auto  m-lg-auto col-lg-8 
   justify-content-left pt-5"  >
    <div class="container bg-light mt-4   shadow p-3 ">
        <form method="POST" action="#">
            {% csrf_token %}
        <div style="background-color: #008000;" class=" row   p-2 mb-3   fs-5  fw-bold border-bottom rounded" >
            <div class="col-11 d-flex justify-content-center">
            <span>Requisição - {{requisition.purchase_requisition_id}} - {{products.0.requisition_product}}- {{requisition.status}}</span> 
            </div>  
            <div class="col-1  d-flex justify-content-end">
                <a href="{% url 'purchase_request' %}">
                    <img  id="" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">
                </a>
            </div>   
        </div>
        
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong style="background-color: #008000;"  class=" p-2 rounded">Requisitante : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.requester}}</span></div>
            <div class="col-3 bg-light "><strong style="background-color: #008000;"  class=" p-2 rounded">Gestor : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.manager}}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong style="background-color: #008000;"  class="p-2 rounded">Status : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {{requisition.status|upper}}</span></div>
            <div class="col-3 bg-light "><strong style="background-color: #008000;"  class="p-2 rounded">Prazo de entrega esperado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof  requisition.deadline ""|upper %}</span></div>
        </div>
        <div class="row bg-light border p-3 rounded">
            <div class="col-3 bg-light "><strong style="background-color: #008000;"  class=" p-2 rounded">Responsavel pela compra: </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof requisition.buyer  ""|upper%}</span></div>
            <div class="col-3 bg-light "><strong style="background-color: #008000;"  class=" p-2 rounded">Prazo de consumo estimado : </strong></div>
            <div class="col-3 bg-light"><span class="fw-bold" > {% firstof requisition.forecast ""|upper %}</span></div>
        </div>
     
        <div  style="background-color: #008000;" class=" rounded p-2 mb-2 mt-2">
        </div>  
        <div class="row bg-light border p-3 rounded">
            <div class="col bg-light d-flex justify-content-center "><strong style="background-color: #008000;"  class=" p-2 rounded">Quantidade: </strong></div>
            <div class="col bg-light d-flex justify-content-center "><strong style="background-color: #008000;"  class=" p-2 rounded">Unidade: </strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong style="background-color: #008000;" class=" p-2 rounded">Produto:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong style="background-color: #008000;" class="p-2 rounded">Imagem:</strong></div>
            <div class="col bg-light  d-flex justify-content-center"><strong style="background-color: #008000;" class="p-2 rounded">Preço</strong></div>
            {% if  requisition.status == "Aguardando aprovação do(a) gestor(a) de compras" %}    
            <div class="col bg-light  d-flex justify-content-center"><strong class="bg-primary p-2 rounded">Preço:</strong></div>
            {% endif %}     
        </div>
        {% for product in products %}


       
        <!-- lin-->
        <div class="row bg-light border mb-3 p-3 rounded">
            <div class="col bg-light d-flex justify-content-center" ><span class="fw-bold" > {{product.amount}}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {% firstof product.unit  ""|upper%}</span></div>
            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold" > {{product.requisition_product|upper}}</span></div>

            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold w-50" ><a href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{product.id}}">
            {% Productimage  product.id as img %} <img src="{{img.image.url}}"class="w-50" ></a></span></div> 

            <div class="col bg-light d-flex justify-content-center"><span class="fw-bold p-2 " >{{product.price_product}} </span></div>

            
        </div>   
        
        


         <!--modal image -->
            <div class="modal fade" id="imageModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Imagem</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{img.image.url}}"class="w-100" >
                  </div>
                  <div class="modal-footer">
                               
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
                  </div>
                </div>
              </div>
            </div>
              <!--modal cotation -->
         <div class="modal fade" id="cotationModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-success">
                  <h5 class="modal-title text-white" id="staticBackdropLabel">Cotação</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 <form method="POST" action="#">           
                  {% csrf_token %}
                    <div class="mb-2">
                    <label for="cotation">Valor:</label>
                    <input type="number" name="cotation" step=".01" class="form-control"/>
                    </div>
                    <div class="mb-2">
                        <label for="cotation">Fornecedor:</label>
                      
                        <input type="text" name="provider" class="form-control"/>
                    </div>
                </div>
              <div class="modal-footer">  
                    <button type="submit"  name="btn_cotation" value="{{product.id }}" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  </form>     
              </div>
            </div>
          </div>
        </div>





           


            {% endfor %}    
            
           
        </form>

    </div>

</main>
{% endif %}




{% endblock content %}