{% extends 'base.html' %}
{% load static %}




{% block content %}

  
<main role="main"  class="col-md-8 m-sm-auto col-lg-8 col-md-6 "  >
     
  <div class="container  ">
  
    <div id="Atendimento_ba">
      <span>Meus Chamados</span>
    </div>
  <svg class="Linha_1" viewBox="0 0 1482 1">
      <path id="Linha_1" d="M 0 0 L 1482 0">
      </path>
  </svg>
  <a href="{% url 'add_chamado' %}">
  <div id="R_13" class="R_13 d-flex justify-content-center ">
    <div id="" class="fw-bold fs-4  text-white mt-1 ">
      <span>Abrir Chamado</span>
    </div>
  </div>
</a>
 
  
  
      <div  class="container N_5  w-100" >
       <!-- <form method="GET">
          {% csrf_token %}
          <tr >
  
            <th>	
              {{filtro.form.ticket}}
            </th>
      
            <th >
              {{filtro.form.create}}
            </th>
      
            <th >
              {{filtro.form.grupo}}
            </th>
      
            <th >
              {{filtro.form.problem}}
            </th>
      
            
          
            
           
            
            <th>
              {{filtro.form.status}}
            </th>
            
            <th>
              <span><button class="btn btn-primary" type="submit" style="border-radius: 20px; box-shadow:0 8px 6px -6px rgb(161, 161, 161)" >Filtrar</button></span>
            </th>
            <th>
    
            </th>
      
            
              
            
          </tr>

        </form>
      -->
        <table id="example" class="table ">
        <thead>
        <tr  >
  
        <th >	
        <span><label for="{{ filtro.form.ticket.id_for_label}}">Chamado ID: </label></span>
        </th>
  
        <th>
        <span>Data</span>
        </th>
  
        <th>
        <span>Area</span>
        </th>
  
        <th >
        <span>Assunto</span>
        </th>
  
        <th >
        <span>Mensagem</span>
        </th>
  
        
    
        
    
        <th >
        <span>Status</span>
        </th>
        <th></th>
  
      
        
      </tr>
    
      
      
       
     
    </thead>
    
    <tbody>
      
          {% for chamados in chamados %}
      <tr>
    
  
        <td  >	
          <span>{{chamados.ticket}}</span>	
        </td>
  
        <td >	
          <span>{{chamados.create}}</span>
        </td>
  
        <td >
          <span>{{chamados.grupo}}</span>
        </td>
  
        <td >
          <span>{{chamados.problem}}</span>
        </td>
    
        <td >
          <span>{{chamados.des_problem}}</span>
        </td>
    
        <td  >	
          {% if chamados.status == "aberto" %}
          <div class="bg-danger rounded p-2  d-flex justify-content-center text-white">	
          <span>{{chamados.status}}</span>
          </div>
          {% endif %}
          {%  if chamados.status == "em atendimento" %}
          <div style="font-size: 14px;" class="bg-warning rounded p-2  d-flex justify-content-center text-white ">	
            <span>{{chamados.status}}</span>
          </div>
          
          {%  elif chamados.status == "fechado" %}
          <div style="background-color: #32CD32;" class=" rounded p-2   d-flex justify-content-center text-white">	
            <span>{{chamados.status}}</span>
          </div>
          {% endif %}
        </td>
  
        <td >				
          <a href="{% url 'id_chamado' chamados.id%}">
            <img class="mt-2 " src="{% static 'img/eye.png' %}" srcset="{% static 'img/eye.png' %} 1x, {% static 'img/eye@2x.png' %} 2x">
          </a>  
        </td>
      
      </tr>
      {% endfor %}
    </tbody>
        </table>

      

    </div>
  
  </div>
  </main>
  


  {% block js %}
  

  <script >
    	$(document).ready(function() {
		$('#example').DataTable({
    "scrollY":"900px",
    "order": [[ 0, "desc" ]],
    "language": {
    "sSearch": "Buscar:",
    "sInfo": "Chanados de _START_ a _END_ (Total _MAX_)",
    "sInfoEmpty": "0 chamados",
    "sInfoFiltered": "(filtrado de um total de _MAX_ chamados)",
    "sLengthMenu": "Mostrar _MENU_ chamados",
    "sZeroRecords": "Nenhum chamado encontrado",
    "sEmptyTable": "Zero chamados",
    "paginate": {
    "previous": "Anterior",
    "next": "Próxima"
    },
    
  
    
}
});
	} );
    
    </script>
    
  {% endblock js %}

     

{% endblock content %}  