{% extends 'base.html' %}
{% load static %}




{% block content %}

  
<main role="main"  class="col-md-8 m-sm-auto col-lg-8 col-md-6 "  >
     
  <div class="container  ">
  
    <div id="Atendimento_ba">
      <span>Links úteis</span>
    </div>
  <svg class="Linha_1" viewBox="0 0 1482 1">
      <path id="Linha_1" d="M 0 0 L 1482 0">
      </path>
  </svg>
  {% if grupos != "Colaborador"  and grupos != "recursos humanos" %} 
  <a href="{% url 'linksup' %}">
  <div class="Retngulo_58 rounded bg-primary  d-flex justify-content-center pt-2 text-white fw-bold fs-5 ">
    <span>Cadastrar Link</span>
 </div>
  </a>
  {% endif %}



  
        <div class="container N_5 mt-5  " >
        <form method="POST" action="{% url 'tecnicos' %}">
            {% csrf_token %}
            {% if images|length >= 1 %} 
            <div class="row w-25">
              <div class="col-xl-12 ">
                  <div class="card ">
                   
                      <div class="card-body ">
                       
                          <h4 class="card-title"></h4>
                          <p class="card-title-desc">
              
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-interval="3000">
                              <div class="carousel-inner" role="listbox">
                                
                                {% for images in images %}  
                                <div class="carousel-item active">
                                <a href="{{images.link}}" >  
                                <img style="border-radius: 20px;"  class="w-100" src="{{images.img.url}}" srcset="{{images.img.url}} 1x, {{images.img.url}}@2x.png 2x">
                                </a>
                                {% if grupos != "usuarios" %}
                                <button style="border-radius: 10px;" class=" shadow px-4 mt-3 py-2  " type="submit" value="{{images.id}}" name="inativar" >Inativar </button>
                                {% endif %}
                              </div>
                                {% endfor %}
                              </div>
                              {% else %}
                              <div class="row">
                                <div class="col-xl-12">
                                    <div class="card">
                                     
                                        <div class="card-body">
                                         
                                            <h4 class="card-title"> Não há Links...</h4>
                                            <p class="card-title-desc">
                                              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-interval="3000">
                                                <div class="carousel-inner" role="listbox">
                                              
                        
                        {% endif %} 
                          
                               
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      
</form>
    </div>
  </div>
  </main>
{% endblock content %}  
