
{% load static %}




{% block content %}
<style>
  .nomef{
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 30px;
	font-size: 12px;
	border-color:  rgba(0, 0, 0, 0.161);
	border-style: solid;
	border-radius: 20px;
	padding-left: 10px;
	text-transform: uppercase;
}
  #nomef{
  font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(93,90,90,1);
}

</style>
<img style="width: 100%;height: 100%;" id="bmw-2017" src="{% static 'img/bmw-2017.png' %}" srcset="{% static 'img/bmw-2017.png' %} 1x, {% static 'img/bmw-2017@2x.png' %} 2x">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static 'css/Meu_Perfil.css' %}"/>
<svg class="Linha_1" viewBox="0 0 1482 1">
  <path id="Linha_1" d="M 0 0 L 1482 0">
  </path>
</svg>
 <!--Main-->
 <div style="position: absolute; top:0; left:45%;">
 {% include 'partials/_messages.html' %}
 </div>
 <main role="main"  class="col-md-8 m-sm-auto col-lg-8 col-md-6 "  >
  <div id="Atendimento_ba">
    <span>Fast Chamado</span>
  </div>
  <div class="container">
    <div class="container d-flex flex-nowrap  N_5 ">
      <div id="Novo_Chamado">
        <span>Novo Chamado</span>
      </div>
            
    

    <form method="POST" action="{% url 'fastchamado' %}" >
      {% csrf_token %}
      <div id="nomef">
        <span>Nome:</span>
      </div>
      
      <input  class="nomef form-control" value="{{user.username}}"type="text" name="requisitante" required>
      
        
      <div style="height: 500px;" class="Retngulo_37"   >
        <div id="Assunto_">
          <span>Assunto</span>
        </div>
       
        <input type="radio" name="assunto"  value="Problema com o Mecauto" class="Retngulo_28 " required>
        </input>
              
        <input type="radio" name="assunto" value="Toner" class="Retngulo_29" required>
        </input>
         
        <input type="radio" name="assunto"value="Não consigo imprimir" class="Retngulo_30" required>
        </input>

        <input type="radio" name="assunto"value="Equipamentos" class="Retngulo_31" required>
        </input>

        <div id="Problema_com_o_Mecauto">
          <span>Problema com o Mecauto</span>
        </div>
        <div id="Problema_com_o_meu_ramal">
          <span>Toner</span>
        </div>
        <div id="No_consigo_imprimir">
          <span>Não consigo imprimir</span>
        </div>
        <div id="Estou_sem_internet">
          <span>Equipamentos</span>
        </div>
        <div id="Mensagem_">
          <span>Mensagem</span>
        </div>
        <textarea style="width: 400px; padding-left: 10px;" class=" Retngulo_19_ form-control" id="obs" name="obs" rows="8" placeholder="Descreve com a maior quantidade de informações possíveis a sua solicitação"></textarea> 
     
       
  
    
      
        <button type="submit"style="position: absolute;left: 295px;top: 425px; "   value="atendimento ti" class="Retngulo_36  text-white fw-bold">
        <span>Abrir Chamado</span>
        </button>
      </div>
       </form>
      </div>
      
    </div>
</main>
{% endblock %}
