
{% load static %}


{% block style%}
		{% include 'css.html' %}   
		{%endblock style%}

{% block content %}
<style>
  body{
    background:url("{% static 'img/bmw-2017.png' ¨%}") ;
  }
  .nomef{
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 30px;
	font-size: 12px;
	border-color:  rgba(0, 0, 0, 0.161);
	border-style: solid;
	border-radius: 20px;
	padding-left: 10px;
	text-transform: uppercase;
}
  #nomef{
  font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(93,90,90,1);
}

</style>




 <!--Main-->
 <div style="position: absolute; top:0; left:45%;">
 {% include 'partials/_messages.html' %}
 </div>
 <main role="main"  class="col-md-8 m-sm-auto col-lg-6 col-md-6 "  >

        <div class="container mt-5 ml-5">
          <form method="POST" action="{% url 'fastchamado' %}" >
            {% csrf_token %}
            <div class="row mt-5">
              <div class="col-xl-12 mt-5 " >
                  <div class="card p-3">
                      <div class="card-body">
                          <h4 class="card-title">Chamado Rapido</h4>
                                <div class="row">
                                    <div class="row">
                                      <div class="col-2">
                                        Usuario:
                                      </div>
                                    <div class="col-3">
                                       <input  class=" form-control" value="{{user.username}}"type="text" name="requisitante" required> 
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <span>Assunto</span>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <input type="radio" name="assunto"  value="Problema com o Mecauto" class=" " required>
                                        </input>  
                                    </div>
                                    <div class="col-4">
                                        <span>Problema com o Mecauto</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <input type="radio" name="assunto" value="Toner" class="" required>
                                        </input>  
                                    </div>
                                    <div class="col-4">
                                      <span>Toner</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <input type="radio" name="assunto"value="Não consigo imprimir" class="" required>   </input>  
                                    </div>
                                    <div class="col-4">
                                      <span>Não consigo imprimir</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <input type="radio" name="assunto"value="Equipamentos" class="" required>
                                        </input>
                                    </div>
                                    <div class="col-4">
                                      <span>Equipamentos</span>
                                    </div>
                                </div>

                               <div class="row mt-2">
                                  <div class="col-2">
                                    <span>Mensagem</span>
                                  </div>
                                  <div class="col-6">
                                      <textarea style="width: 500px; padding-left: 10px; font-size:small" class="  form-control" id="obs" name="obs" value="{{des}}" rows="8" placeholder="Descreve com a maior quantidade de informações possíveis a sua solicitação"></textarea> 
                                  </div>    
                               </div>   
                            
                            </div>
                      <div>
                          <div>
                              <button type="submit" value="atendimento ti" class="btn btn-primary waves-effect waves-light me-1">
                                Abrir Chamado
                              </button>
                             
                          </div>
                     </div>
                  </div>
              </div>
            </div>
        </form>
      </div>

</main>
{% endblock %}
{% block javascript %}

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'libs/jquery.counterup/jquery.counterup.min.js' %}"></script>

        <!-- parsleyjs -->
        <script src="{% static 'libs/parsleyjs/parsley.min.js' %}"></script>

        <script src="{% static 'js/pages/form-validation.init.js' %}" ></script>

        <script src="{% static 'js/app.js' %}"></script>

{% endblock %}
