
{% load static %}
{% block footer %}
 <footer style="position:fixed;" class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Techeleven
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                   <a href="https://techeleven.com.br/" target="_blank" class="text-reset"><img style="height: 50px;"  src="{% static 'img/Logo-cinza_claro.png' %}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        
        <!-- END layout-wrapper -->
{% endblock %}