{% extends 'basenew.html' %}
{% load static %}

{% block style %}

{% endblock style %}

{% block content %}

<div class="row justify-content-center pr-4 pl-4">
  <div class=" bg-primary text-white text-center d-flex justify-content-center border-bottom rounded p-2 mr-2 ml-2" style="min-width:100%;box-shadow:0 8px 6px -6px rgb(161, 161, 161)">
    <div class="col-11 ml-4">
        <h1 class="h2 fw-bold">Anúncio {{announcement.sku}} - {{announcement.name}} </h1>
      </div>
      <div class="col-1 ">
        <div class="dropdown ">
          <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <form action="" method="post">
              {% csrf_token %}
              <li><button class="dropdown-item" type="submit" name="btn_edit">Editar</button></li>
              <li><a class="dropdown-item" name="">Excluir</a></li>
            </form>
          </ul>
        </div>
      </div>

    </div>

    
    <div class="row ml-4 mr-4 p-4 d-flex justify-content-around border border-top-0 border-dark rounded" style="min-width:100%;background-color:rgb(224, 224, 224);box-shadow:0 8px 6px -6px rgb(161, 161, 161)" >

                   
            <div class="col-7 bg-light rounded">
                {% if user.get_username == announcement.user.username and announcement.description_active != True %}
                <div class="form-group "  style="min-width: 100%">
                <form method="post">
                 {% csrf_token %}
                    <label for="text_descr font-weight-bold text-black"><b>Descrição: {{announcement.name}} </b></label>
                    <textarea class="form-control" id="text_descr" name="descricao" rows="15" value={{announcement.description}}>{{announcement.description}}</textarea>
                    
                    <div class="row d-flex justify-content-end mr-2 mt-2">
                        <button type="submit" class="btn-primary rounded"  name="btn_save">Salvar Descrição</button>
                    </div>
                  </form>
                </div>

                {% elif announcement.user.username == None %}
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="form-group font-weight-bold text-black text-center pt-4"  style="min-width: 100%">
                    <h2><button class="btn-danger" type="submit" name="btn_desc"  value="{{announcement.sku}}">Iniciar Descrição</button></h2>
                  </div>
                </form>

                {% elif user.get_username != announcement.user.username and announcement.description_active != True %}
                <div class="form-group font-weight-bold text-black"  style="min-width: 100%">
                    <h2>Descrição em Andamento por: {{announcement.user}}</h2>
                </div>


                {% else %}
                <div class="form-group "  style="min-width: 100%">
                    <h2 class="font-weight-bold text-black">Descrição feita por: {{announcement.user}} dia {{announcement.changed}}</h2>
                    <p class="ml-2">{{announcement.description}}</p>
                </div>
                {% endif %}
            </div>
            <div class="col-4 m-2 center-block text-center">
             
                <div class="container rounded " style="min-width: 100%; min-height: 100%;">
                  {% if announcement.image_zero %}
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalImage"><img src="{{announcement.image_zero.url}}" class="img-thumbnail" alt="..."></button>
                  {% else %}
                  <button type="button" class="btn-warning mr-4" data-bs-toggle="modal" data-bs-target="#modalImage">Ver imagens</button>
                  
                  {% endif %}

                  {% if announcement.number_images < 3 %}
                  <button type="button" class="btn-info" data-bs-toggle="modal" data-bs-target="#addImageModal">Adicionar Imagem</button>
                  {% endif %}
                  <h5 class="mt-2">({{announcement.number_images}}/3)</h5>

                
                </div>

                
                
            </div>
        </div>
        <div class="row ml-0 mr-0 p-4 d-flex justify-content-start border border-top-0 border-dark rounded" style="min-width:100%;background-color:rgb(224, 224, 224);box-shadow:0 8px 6px -6px rgb(161, 161, 161)">
          <div class="col-10">

              <h3>Detalhes Produto/Fotos:</h3>
              <ul class="list-group bg-light w-auto p-2">
                <form action="" method="post">
                {% csrf_token %}
                {% for detail in details %}
                <li class="list-group-item">{{detail.detail}}<button type="submit" class="ml-5 bg-danger" name="btn_del_detail" value={{detail.id}}>X</button></li>
                {% endfor %}
                <button type="button" class="bg-secondary rounded text-white mt-3" data-bs-toggle="modal" data-bs-target="#detailModal">Adicionar Detalhes</button>

              </form>
              </ul>
          </div>
           <div class="col-2">
            
           </div>
          
        </div>

</div>

    {% block js %}

    <script>

    function pegarValor(){
            let i = document.getElementById('text_descr').value;
            console.log(i)
            document.getElementById('descricao').value = i;
    }


    </script>

    {% endblock js %}


  {% block Modal %}

  {% comment %} <!-- Modal  Salvar Descricao-->

  <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saveModalLabel">Confirmação - {{announcement.name}} </h5>
          <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja salvar sua descrição?
        </div>

        <form action="" method="post">
            {% csrf_token %}
        <div class="modal-footer">
          <input type="hidden" id="descricao" name="descricao">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary" name="btn_save" >Salvar Descrição</button>
        </div>
        </form>
      </div>
    </div>
  </div> {% endcomment %}


<!-- Modal Add Image-->
<div class="modal fade" id="addImageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Adicionar Imagem</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <form class="d-flex justify-content-between"  method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="container">        

            <div class="row mb-4">
              <label for="name_img" class="form-label">Nome Imagem:</label>
              <input type="text" class="form-control" name="name_img" id="name_img">
            </div>

            <div class="row mt-4">
              {{ form.imagem }}
            </div>

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" name='btn_image' class="btn btn-primary">Salvar</button>  
      </form>

      </div>
    </div>
  </div>
</div>


<!-- Modal Image -->
<div class="modal fade" id="modalImage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:600px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Imagens</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
              {% if announcement.image_zero %}
              <div class="container text-center">
                <h5>Vitrini</h5>
              </div>
             
                <img src="{{announcement.image_zero.url}}" class="d-block w-100" alt="...">
                {% endif %}
              </div>
            {% for image in images %}
              <div class="carousel-item">
                <div class="container text-center">
                  <h5>Cad: {{image.id}}</h5>
                </div>               
                <img src="{{image.image.url}}" class="d-block w-100" alt="...">
              </div>
              {% endfor %}
            </div>
        </form>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: red;"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: red;"></span>
          </a>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <div class="dropdown">
          <button class="btn-danger rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-trash"></i>  Deletar Imagem
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if announcement.image_zero %}
            <li><a class="dropdown-item" name="" value="" href="{% url 'del_image_zero' announcement.sku %}">Vitrini</a></li>
            {% endif %}
            {% for image in images %}
            <li><a class="dropdown-item" href="{% url 'del_image_anno' image.id %}" >{{image.id}}</a></li>
            {% endfor %}
          </ul>

        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Add Detalhes-->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailModalLabel">Adicionar Detalhe do Produto</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        
         <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
              <label for="detail_add" class="control-label" >Detalhe:</label>
              <input type="text" value='' class="form-control-lg" name="detail_add" id="detail_add" style="width:100%" required>
          </div>
       

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary" name="add_detail_annou">Adicionar</button>
        </form>
      </div>
    </div>
  </div>
</div>


  {% endblock %}


{% endblock content %}


