{% extends 'basenew.html' %}
{% load static %}

{% block content %}


                    <!-- Tabela Row -->
                    
                   <div class="row">
                     <div class="col-xl-12 col-lg-7">
                       <div class="card shadow m-2">
                        <div class="card card-title bg-light text-center">
                            <h1 class="bg-success rounded p-2" style="color: black;">Anúncios Concluídos</h1>
                        </div>
                        
                        <form method="POST">
                        {% csrf_token %}
                        <div class=" bg bg-light p-3">  
                          <div class="app-table m-3">
                              <table id="table_tasks" class="table table-sm table table-stripped table-hover " style="width:100%">
                                  <thead class="bg-white">
                                      <tr>
                                          <th>SKU</th>
                                          <th>Nome</th>
                                          <th>Descrição</th>
                                          <th>Fotos</th>
                                          <th>Criado</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                   
                                    {% for announcement in announcements %}
                                    
                                        
                                        <tr>
                                            <td><a href="{% url 'anuncio' announcement.sku %}">{{announcement.sku}}</a></td>
                                            <td>{{announcement.name}}</td>
                                            {% if announcement.editable == False %}
                                            <td>Finalizada por: {{announcement.user.first_name}}</td>
                                            {% else %}
                                            <td><button class="btn-danger" type="submit" name="btn_desc"  value="{{announcement.sku}}">Adicionar</button></td>
                                            {% endif %}
                                            <td><a href="{% url 'anuncio' announcement.sku %}"> ({{announcement.number_images}}/3)</a></td>
                                            <td>{{announcement.create}}</td>
                                        </tr>
                                    
                                    {% endfor %}

                                  </tbody>
                                </table>
                              </div>
                            </div>

                        </form>
                                    

                       

                       </div>
                     </div>
                    

                   </div> 
                    



<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

  
<script >
$(document).ready(function() {
    $('#table_tasks').DataTable({
    "pageLength" : 5,
    "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, 'Todas']],
    "order": [[ 0, "desc" ]],
    "language": {
    "sSearch": "Buscar:",
    "sInfo": "Tarefas de _START_ a _END_ (Total _MAX_)",
    "sInfoEmpty": "0 Tarefas",
    "sInfoFiltered": "(filtrado de um total de _MAX_ Tarefas)",
    "sLengthMenu": "Mostrar _MENU_ tarefas",
    "sZeroRecords": "Nenhuma tarefa encontrado",
    "sEmptyTable": "Zero Tarefas",
    "paginate": {
    "previous": "Anterior",
    "next": "Próxima"
    }
}
} );
} );

</script>





{% endblock content %}