{% extends 'base.html' %}
{% load static %}
{% block style%}
{% include 'css.html' %}   
{%endblock style%}
{% block content %}
<main role="main"  class="col-md-8 m-sm-auto col-lg-8 col-md-6 "  >
    <div style="left:250px;" class="container ml-5">
        <div id="Atendimento_ba">
            <span>Usuários</span>
          </div>
        <svg class="Linha_1" viewBox="0 0 1500 1">
            <path id="Linha_1" d="M 0 0 L 1500 0">
            </path>
        </svg>
      
        <div class="Retngulo_561 text-white border border-dark d-flex justify-content-center fs-5 fw-bold pt-2 ">
            <span>Usuários</span>
        </div>
	    <div  class="container N_14  w-100" >
        <div class="conteudo"> 
        <form name="cadastro" method="POST" action="{% url 'add_usuarios' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="row mb-5 ml-5">
                    <div class="col-lg-10 ml-5 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-title mb-4">Cadastro</h4>
                                    <a href="{% url 'presidente' %}">
                                    <img  id="close-button1" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">
                                    </a>
                                </div>
                                
                            
                                <div id="basic-example">
                                    <!-- Seller Details -->
                                    <h3>Dados Pessoais</h3>
                                    <section>
                                        <div class="row">
                                            <div class="col">
                                            <span style="color: rgba(255,0,0,1);">*</span> <span>Nome Completo</span>
                                            </div>

                                            <div class="col">
                                            <span>Apelido</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input  class="Retngulo_60 " type="text"  required name="nome">
                                            </div>

                                            <div class="col">
                                                <input  class="Retngulo_apelido " type="text"  name="apelido">
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-4">
                                                <span style="color: rgba(255,0,0,1);">*</span>  <span>CPF</span>
                                            </div>
                                            <div class="col-4">
                                                <span>PIS</span>
                                            </div>
                                            <div class="col-4">
                                                <span>Titulo de Eleitor  </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <input id="cpf"  class="Retngulo_cpf   " type="text" required name="cpf">
                                            </div>
                                            <div class="col-4">
                                                <input  class="Retngulo_pis " type="text" name="pis">
                                            </div>
                                            <div class="col-4">
                                                <input  class="Retngulo_titulo " type="text" name="titulo">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-3">
                                                <span>Carteira de Trabalho</span>
                                            </div>
                                            <div class="col-3">
                                                <span>Série</span>
                                            </div>
                                            <div class="col-3">
                                                <span>UF </span>
                                            </div>
                                            <div class="col-3">
                                                <span>Data da Emissão</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input  class="Retngulo_carteira " type="text" name="carteira">
                                            </div>
                                            <div class="col-3">
                                                <input  class="Retngulo_serie " type="text" name="serie">
                                            </div>
                                            <div class="col-3">
                                                <input  class="Retngulo_ufc " type="text" name="ufc">
                                            </div>
                                            <div class="col-3">
                                                <input  class="Retngulo_emissao " type="date" value="1900-01-01"name="emissao"> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <span>Gênero</span>
                                            </div>
                                            <div class="col-4">
                                                <span>Cor</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <select name="genero"  class=" Retngulo_genero">
                                                    <option name="genero" value="">
                                                        <option value="Masculno">Masculino</option>
                                                        <option value="Feminino">Feminino</option>
                                                        <option value="Prefiro não informar">Prefiro não informar</option>
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <select name="cor"  class=" Retngulo_cor">
                                                    <option name="cor" value="">
                                                        <option value="INDIGENA">1 - INDIGENA </option>
                                                        <option value="BRANCA">2 - BRANCO</option>
                                                        <option value="NEGRA">3 - NEGRA</option>
                                                        <option value="AMARELO">4 - AMARELO</option>
                                                        <option value="PARDA">5 - PARDA</option>
                                                        <option value="NÃO INFORMADO ">6 - NÃO INFORMADO</option>
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span>Celular Pessoal</span>
                                            </div>
                                            <div class="col">
                                                <span>Estado Civil </span>
                                            </div>
                                           <div class="col">
                                                <span>Escolaridade</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input  id="tel"  class="Retngulo_celp  cel-sp-mask" type="text" name="celp">   
                                            </div>
                                            <div class="col">           
                                                <select name="ecivil"  class=" Retngulo_ecivil">
                                                    <option name="ecivil" value="">
                                                        <option value="SOLTEIRO">1 - SOLTEIRO </option>
                                                        <option value="CASADO">2 - CASADO</option>
                                                        <option value="SEPARADO">3 - SEPARADO</option>
                                                        <option value="DIVORCIADO">4 - DIVORCIADO</option>
                                                        <option value="VIUVO">5 - VIUVO</option>
                                                        <option value="UNIÃO ESTÁVEL">6 - UNIÃO ESTÁVEL</option>
                                                    </option>
                                                </select>
                                            </div>
                                           <div class="col">
                                            <select name="escolaridade"  class=" Retngulo_escol">
                                                <option name="escolaridade" value="">
                                                    <option value="ANALFABETO">1 - ANALFABETO </option>
                                                    <option value="ATÉ O 5° ANO INCOMPLETO">2 - ATÉ O 5° ANO INCOMPLETO</option>
                                                    <option value="5° COMPLETO">3 - 5° COMPLETO</option>
                                                    <option value="DO 6° AO 9° ANO INCOMPLETO">4 - DO 6° AO 9° ANO INCOMPLETO</option>
                                                    <option value="ENSINO FUNDAMENTAL COMPLETO">5 - ENSINO FUNDAMENTAL COMPLETO</option>
                                                    <option value="ENSINO MÉDIO INCOMPLETO">6 - ENSINO MÉDIO INCOMPLETO </option>
                                                    <option value="ENSINO MÉDIO COMPLETO">7 - ENSINO MÉDIO COMPLETO </option>
                                                    <option value="ENSINO SUPERIOR INCOMPLETO">8 - ENSINO SUPERIOR INCOMPLETO </option>
                                                    <option value="ENSINO SUPERIOR COMPLETO">9 - ENSINO SUPERIOR COMPLETO </option>
                                                    <option value="MESTRADO COMPLETO">10 - MESTRADO COMPLETO </option>
                                                    <option value="DOUTORADO COMPLETO">11 - DOUTORADO COMPLETO </option>
                                                </option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-3">
                                                    <span style="color: rgba(255,0,0,1);">*</span>  <span>Data de Nascimento</span>
                                                </div>
                                               <div class="col-2">
                                                    <span>Município</span>
                                                </div>
                                               <div class="col-2">
                                                    <span>UF</span>
                                                </div>
                                                <div class="col-3">
                                                    <span>País </span>
                                                </div>
                                                 <div class="col-2">
                                                    <span>Nacionalidade</span>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-3">
                                                    <input  class="Retngulo_dn " type="date" required name="datanasci">
                                                </div>
                                                <div class="col-2">
                                                <input  class="Retngulo_munasci  " type="text" name="municipionasc">
                                                </div>
                                                <div class="col-2">
                                                    <input  class="Retngulo_ufn " type="text" name="ufnasci">       
                                                </div>
                                                <div class="col-3">
                                                    <input  class="Retngulo_pais " type="text" name="paisnasci">
                                                </div>
                                                <div class="col-2">
                                                    <input  class="Retngulo_nasci " type="text" name="nasciona">
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span>Nome da Mãe</span>
                                            </div>
                                            <div class="col-6">
                                                <span>Nome do Pai</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <input  class="Retngulo_mae " type="text" name="mae">
                                            </div>
                                            <div class="col-6">
                                                <input  class="Retngulo_pai " type="text" name="pai">
                                            </div>
                                        </div>
                                        <div class="row">                                             
                                            <div class="col-2">
                                                <span>Documento</span>
                                            </div>
                                            <div class="col-2">
                                                <span>Número</span>
                                            </div>
                                            <div class="col-2">
                                                <span>Orgão Emissor</span>
                                            </div>
                                            <div class="col-2">
                                                <span>Expedição</span>
                                            </div>
                                            <div class="col">
                                                <span>Validade</span>
                                            </div>
                                        </div>
                                        <div class="row">                                             
                                            <div class="col-2">
                                                <select name="documento"  class=" Retngulo1_ ">
                                                    <option name="documento" value="">
                                                        <option value="PG">RG</option>
                                                        <option value="CNH">CNH</option>
                                                
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-2">
                                                <input  class="Retngulo2_ " type="text" name="numero">
                                            </div>
                                            <div class="col-2">
                                                <input  class="Retngulo3_ " type="text" name="oe">
                                            </div>
                                            <div class="col-2">
                                                <input  class="Retngulo4_ " type="date" value="1900-01-01" name="expedicao">
                                            </div>
                                            <div class="col">
                                                <input  class="Retngulo5_ " type="date"value="1900-01-01"name="validade"> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2">
                                                <span>Cep</span>
                                            </div>
                                            <div class="col-2 mr-1">
                                                <span>Tipo</span>
                                            </div>
                                            <div class="col-3">
                                                <span>Logradouro</span>
                                            </div>
                                            <div class="col-2">
                                                <span>Nº</span>
                                            </div>
                                            <div class="col-2">
                                                <span>UF</span>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-2">
                                                <input id="cep" class="Retngulo6_  cep-mask" type="text" name="cep">
                                            </div>
                                            <div class="col-2 mr-1">
                                                <input data-cep="tipo_logradouro" class="Retngulo7_ " type="text" name="tipo">
                                            </div>
                                            <div class="col-3">
                                                <input data-cep="endereco" class="Retngulo8_ " type="text" name="logradouro">
                                            </div>
                                            <div class="col-2">
                                                <input  class="Retngulo9_ " type="text" name="num">
                                            </div>
                                            <div class="col-2">
                                                <input data-cep="uf" class="Retngulo10_ " type="text" name="ufatual">
                                            </div>
                                           
                                        </div> 
                                        <div class="row"> 
                                            <div class="col-3">
                                                <span>Município</span>
                                            </div>   
                                            <div class="col-3">
                                                <span>Bairro</span>
                                            </div>
                                            <div class="col-3">
                                                <span>Complemento</span>
                                            </div>
                                            <div class="col-3">
                                                <span>País</span>
                                            </div>
                                          
                                        </div>
                                        <div class="row">   
                                            <div class="col-3">
                                                <input data-cep="cidade" class="Retngulo11_ " type="text" name="muniatual">
                                            </div>
                                            <div class="col-3">
                                                <input data-cep="bairro" class="Retngulo12_ " type="text" name="bairro">
                                            </div>
                                            <div class="col-3">
                                                <input id="complemento" class="Retngulo13_ " type="text" name="complemeno">
                                            </div>
                                            <div class="col-3">
                                                <input id="paisx" class="Retngulo14_ " type="text" name="pais">
                                            </div>
                                        </div>
  
                                    </section>

                                    <!-- Company Document -->
                                    <h3>Dados Empresariais</h3>
                                    <section>
                                        <div class="row">
                                                    <div class="col-4">
                                                        <span>Departamento</span>
                                                    </div>
                                                    <div class="col-4">
                                                        <span style="color: rgba(255,0,0,1);">*</span> <span>Cargo / Função</span>
                                                        <img  data-bs-toggle="modal" data-bs-target="#exampleModal" class="add-button5" src="{% static 'img/add-button.png' %}" >
                                                    </div>
                                                    <div class="col-4">
                                                        <span>Empresa</span>
                                                    </div>  
                                        </div>
                                        <div class="row">
                                                    <div class="col-4">
                                                        <input  class="Retngulo_601 depright" type="text"  name="departamento">
                                                    </div>
                                                    <div class="col-4">
                                                        <select name="cargo"  class=" Retngulo_cargo" required >
                                                            <option name="cargo" value="">
                                                                {% for cargos in cargos %}
                                                                <option value="{{cargos.cargo}}">{{cargos.cargo}}</option>
                                                                {% endfor %}                       
                                                            </option>
                                                        </select>      
                                                    </div>
                                                    <div class="col-4">
                                                        <select name="empresa"  class=" Retngulo_empresa">
                                                            <option name="empresa" value="">
                                                                {% for empresa in empresa %}
                                                                <option value="{{empresa.nempresa}}">{{empresa.nempresa}}</option>
                                                                {% endfor %}
                                                            </option>
                                                        </select>
                                                    </div>  
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span>Data de Admissão</span>
                                            </div>
                                            <div class="col">
                                                <span>Data de Demissão</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input  class="Retngulo_admissao " type="date"value="1900-01-01" name="admissao">
                                            </div>
                                            <div class="col">
                                                <input  class="Retngulo_demissao " type="date"value="1900-01-01"name="demissao">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span>Vale Transporte</span>
                                            </div>
                                                
                                            <div class="col">
                                                <span>Tipo de Admissão</span>
                                            </div>
                                            <div class="col">
                                                <span>Indicativo Admissional</span>
                                            </div>
                                            <div class="col">
                                                <span>Primeiro Emprego</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <select name="vtrans"  class=" Retngulo_vtrans">
                                                    <option name="vtrans" value="">
                                                        <option value="sim">1-SIM</option>
                                                        <option value="nao">2-NÃO</option>                        
                                                    </option>
                                                </select>
                                            </div>
                                                
                                            <div class="col">
                                                <select name="tipoadmissao"  class=" Retngulo_tipoadmissao">
                                                    <option name="tipoadmissao" value="">
                                                        <option value="Admissão">1 - ADMISSÃO</option>
                                                        <option value="Transferencia de empresa do mesmo grupo empresarial">2 - TRANSFERENCIA DE EMPRESA DO MESMO GRUPO EMPRESARIAL</option>
                                                        <option value="Admissão por sucessão, Incorporação, Cisão ou Fusão">3 - ADMISSÃO POR SUCESSÃO, INCORPORAÇÃO, CISÃO OU FUSÃO</option>
                                                        <option value="Trabalhador cedido">4 - TRABALHADOR CEDIDO</option>   
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select name="indica"  class=" Retngulo_indica">
                                                    <option name="indica" value="">
                                                        <option value="Normal">1 - NORMAL</option>
                                                        <option value="Decorrente de ação fiscal">2 - DECORRENTE DE AÇÃO FISCAL</option>
                                                        <option value="Decorrente de decisão judicial ">3 -DECORRENTE DE AÇÃO JUDICIAL</option>               
                                                    </option>
                                                </select>   
                                            </div>
                                            <div class="col">
                                                <select name="priempr"  class=" Retngulo_priempr">
                                                    <option name="priempr" value="">
                                                        <option value="sim">1-SIM </option>
                                                        <option value="nao">2-NÃO </option>                        
                                                    </option>
                                                </select>     
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span>Regime de Trabalho</span>
                                            </div>
                                            <div class="col">
                                                <span>Regime Previdenciário</span>
                                            </div>
                                            <div class="col">
                                                <span>Regime de Jornada</span>
                                            </div>
                                            <div class="col">
                                                <span>Natureza da Atividade</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <select name="rtrab"  class=" Retngulo_75">
                                                    <option name="rtrab" value="">
                                                        <option value="CLT">1 - CLT</option>
                                                        <option value="RJU">2 - RJU</option>
                                                        <option value="RJP">3 - RJP </option>     
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select name="rprev"  class=" Retngulo_76">
                                                    <option name="rprev" value="">
                                                        <option value="RGPS">1 - RGPS</option>
                                                        <option value="RPPS">2 - RPPS</option>
                                                        <option value="RPPE">3 - RPPE </option>                    
                                                    </option>
                                                </select>      
                                            </div>
                                            <div class="col">
                                                <select name="rjorn"  class=" Retngulo_77">
                                                    <option name="rjorn" value="">
                                                        <option value="SUBMETIDO A HORÁRIOS DE TRABALHO">1 - SUBMETIDO A HORÁRIOS DE TRABALHO</option>
                                                        <option value="ATIVIDADE EXTERNA ESPECIFICADA">2 - ATIVIDADE EXTERNA ESPECIFICADA</option>
                                                        <option value="FUNÇÕES ESPECIFICAS">3 - FUNÇÕES ESPECIFICAS </option>
                                                    </option>
                                                </select>  
                                            </div>
                                            <div class="col">
                                                <select name="naativ"  class=" Retngulo_78">
                                                    <option name="naativ" value="">
                                                        <option value="TRABALHO URBANO">1 - TRABALHO URBANO</option>
                                                        <option value="RURAL">2 -RURAL</option>
                                                    </option>
                                                </select>    
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span>Categoria</span>
                                            </div>
                                            <div class="col">
                                                <span>CBO</span>
                                            </div>
                                            <div class="col">
                                                <span>Carga Horária</span>
                                            </div>
                                            <div class="col">
                                                <span>Unidade Salarial</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <select name="cat"  class=" Retngulo_79">
                                                    <option name="cat" value="">
                                                        <option value="EMPREGADO-GERAL">1 - EMPREGADO-GERAL</option>
                                                        <option value="EMPREGADO-TRABALHADOR RURAL POR PEQUENO PRAZO DA LEI 11.718/2008">2 - EMPREGADO-TRABALHADOR RURAL POR PEQUENO PRAZO DA LEI 11.718/2008</option>
                                                        <option value="EMPREGADO-APRENDIZ">3 - EMPREGADO-APRENDIZ</option>
                                                        <option value="EMPREGADO-DOMÉSTICO">4 - EMPREGADO-DOMÉSTICO</option>
                                                        <option value="EMPREGADO-CONTRATO A TERMO FIRMADO NOS TERMOS DA LEI 9601/98">5 - EMPREGADO-CONTRATO A TERMO FIRMADO NOS TERMOS DA LEI 9601/98</option>
                                                        <option value="EMPREGADO-CONTRATO POR PRAZO DETERMINADO NOS TERMOS DA LEI 6019/74">6 - EMPREGADO-CONTRATO POR PRAZO DETERMINADO NOS TERMOS DA LEI 6019/74</option>
                                                        <option value="TRABALHADOR NÃO VINCULADO AO RGPS COM DIREITO AO FGTS">7 - TRABALHADOR NÃO VINCULADO AO RGPS COM DIREITO AO FGTS</option>
                                                        <option value="TRABALHADOR AVULSO - PORTUÁRIO">8 - TRABALHADOR AVULSO - PORTUÁRIO </option>
                                                        <option value="ESTAGIÁRIO">9 - ESTAGIÁRIO </option>
                                                    </option>
                                                </select>  
                                            </div>
                                            <div class="col">
                                                <input  class="Retngulo_80 " type="text" name="codf">
                                            </div>
                                            <div class="col">
                                                <input  class="Retngulo_81 " type="text" name="carh">
                                            </div>
                                            <div class="col">
                                                <select name="unisa"  class=" Retngulo_82">
                                                    <option name="unisa" value="">
                                                        <option value="POR HORA">1 - POR HORA</option>
                                                        <option value="POR DIA">2 - POR DIA</option>
                                                        <option value="POR SEMANA">3 - POR SEMANA</option>
                                                        <option value="POR QUINZENA">4 - POR QUINZENA</option>
                                                        <option value="POR MÊS">5 - POR MÊS</option>
                                                        <option value="POR TAREFA">6 - POR TAREFA</option>             
                                                    </option>
                                                </select> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span>Salário Variável</span>
                                            </div>
                                            <div class="col">
                                                <span>Observações</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input  class="Retngulo_83 " type="number"     name="salvari">
                                            </div>
                                            <div class="col">
                                                <textarea rows="4" cols="50" name="obs" class="Retngulo_84 " ></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">     
                                                <span>Dados Bancários</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span>Banco </span>
                                            </div>
                                            <div class="col">
                                                <span>Agência </span>
                                            </div>
                                            <div class="col">
                                                <span>Conta</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input  class="Retngulo_85 " type="text"  name="banco">
                                            </div>
                                            <div class="col">
                                                <input  class="Retngulo_86 " type="text"  name="agencia">
                                            </div>
                                            <div class="col">
                                                <input  class="Retngulo_87 " type="text"  name="conta">
                                            </div>
                                        </div>
                                    </section>

                                    <!-- Bank Details -->
                                    <h3>Dados Corporativos</h3>
                                    <section>
                                        <div class="row">
                                            <div class="col-4">
                                                <span>E-mail corporativo 01</span>
                                            </div>
                                            <div class="col-4">
                                                <span>E-mail corporativo 02</span>
                                            </div>
                                            <div class="col-4">
                                                <span>*</span><span style="color:rgba(93,90,90,1);"> Perfil de Usuário</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <input  class="Retngulo_602 " type="text" name="email1">
                                            </div>
                                            <div class="col-4">
                                                <input  class="Retngulo_61_ " type="text" name="email2">
                                            </div>
                                            <div class="col-4">
                                                <select name="grupo" required  class=" Retngulo_69">
                                                    <option name="grupo" value="">
                                                        {% for gs in g %}
                                                        <option value="{{gs.name}}">{{gs.name}}</option>
                                                        {% endfor %}
                                                    </option>
                                                </select>    
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <span>Celular Corporativo</span>
                                            </div>
                                            <div class="col-4">
                                                <span>Telefone</span>
                                            </div>
                                            <div class="col-4">
                                                    <span>Foto do Perfil</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <input  id="tel" class="Retngulo_63  cel-sp-mask" type="text" name="cel">
                                            </div>
                                            <div class="col-4">
                                                <input id="tel" class="Retngulo_64  cel-sp-mask" type="text" name="tel">
                                            </div>
                                            <div class="col-4">
                                                {{form.imagem}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <span>Skype</span>
                                            </div>
                                            <div class="col-4">
                                                <span>Ramal</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <input  class="Retngulo_62_ " style="margin-top:-20px" type="text" name="skype">
                                            </div>
                                            <div class="col-4">
                                                <input  class="Retngulo_65 " type="text" name="ramal">
                                            </div>
                                           
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <span style="color: rgba(255,0,0,1);">*</span>  <span>Usuário</span>
                                            </div>
                                            <div class="col-4">
                                                <span style="color: rgba(255,0,0,1);">*</span> <span>Senha</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <input  class="Retngulo_66 " type="text" required name="usuario">
                                            </div>
                                            <div class="col-4">
                                                <input  class="Retngulo_67 " type="password" required name="senha">
                                            </div>
                                           
                                            
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-2 mt-5">
                                            <button type="submit" name="add_usu" class="btn btn-primary d-flex justify-content-center text-white p-1">
                                                <span>Cadastrar</span>
                                            </button>
                                            </div>

                                        </div>  
                                    </section>

                      
                                </div>

                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                </div>
                </div>    
        </form>
        </div>  
</main>

{% block modal %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cadastro de Função</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'cargo' %}">
            {% csrf_token %}
          <label>Cargo:</label><br>    
          <input type="text" class="" name="cargo"><br>
          <label>Ncbo:</label><br> 
          <input type="text" class="" name="ncbo"><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fecha</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock modal%}
 
 {% endblock content %} 
 {% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'libs/jquery.counterup/jquery.counterup.min.js' %}"></script>

        <!-- jquery step -->
        <script src="{% static 'libs/jquery-steps/build/jquery.steps.min.js' %}"></script>

        <!-- form wizard init -->
        <script src="{% static 'js/form-wizard.init.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>


{% endblock %} 
{% block js%}
<script type="text/javascript" src="https://www.geradorcpf.com/assets/js/jquery-1.2.6.pack.js"></script>
<script type="text/javascript" src="https://www.geradorcpf.com/assets/js/jquery.maskedinput-1.1.4.pack.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#cpf").mask("999.999.999-99");
		$("#tel").mask("(99)99999-9999");
		$("#dt").mask("99/99/9999");
	});
</script>
<script>
    
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.cep.min.js' %}"></script>
<script src="{% static 'js/script.js'%}"></script>          
<script>
    $(document).ready(function() {

    function limpa_formulário_cep() {
    // Limpa valores do formulário de cep.
    $("#rua").val("");
    $("#bairro").val("");
    $("#cidade").val("");
    $("#uf").val("");
    $("#ibge").val("");
    }

    //Quando o campo cep perde o foco.
    $("#cep").blur(function() {

    //Nova variável "cep" somente com dígitos.
    var cep = $(this).val().replace(/\D/g, '');

    //Verifica se campo cep possui valor informado.
    if (cep != "") {

        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;

        //Valida o formato do CEP.
        if(validacep.test(cep)) {

            //Preenche os campos com "..." enquanto consulta webservice.
            $("#rua").val("...");
            $("#bairro").val("...");
            $("#cidade").val("...");
            $("#uf").val("...");
            $("#ibge").val("...");

            //Consulta o webservice viacep.com.br/
            $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                if (!("erro" in dados)) {
                    //Atualiza os campos com os valores da consulta.
                    $("#rua").val(dados.logradouro);
                    $("#bairro").val(dados.bairro);
                    $("#cidade").val(dados.localidade);
                    $("#ufx").val(dados.uf);
                    $("#ibge").val(dados.ibge);
                    $("#complemnto").val(dados.complemento);
                    $("#paisx").val("Brasil");
                } //end if.
                else {
                    //CEP pesquisado não foi encontrado.
                    limpa_formulário_cep();
                    alert("CEP não encontrado.");
                }
            });
        } //end if.
        else {
            //cep é inválido.
            limpa_formulário_cep();
            alert("Formato de CEP inválido.");
        }
    } //end if.
    else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
    }
    });
    });

</script>    
{% endblock %}          
 