{% extends 'base.html' %}
{% load static %}

{% block content %}
<main role="main"  class="col-md-8 m-sm-auto col-lg-8 col-md-6 "  >
    <div class="container">
        <div id="Atendimento_ba">
            <span>Usuários</span>
          </div>
        <svg class="Linha_1" viewBox="0 0 1500 1">
            <path id="Linha_1" d="M 0 0 L 1500 0">
            </path>
        </svg>
        <svg class="Linha_doc" viewBox="0 0 1500 1">
            <path id="Linha_doc" d="M 0 0 L 1500 0">
            </path>
        </svg>
        <svg class="Linha_end" viewBox="0 0 1500 1">
            <path id="Linha_end" d="M 0 0 L 1500 0">
            </path>
        </svg>
        <div class="Retngulo_561 text-white border border-dark d-flex justify-content-center fs-5 fw-bold pt-2 ">
            <span>Usuários</span>
        </div>
	    <div  class="container N_14  w-100" >
        <div class="conteudo"> 
        <form method="POST" action="{% url 'add_usuarios' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                <svg class="Retngulo_55_">
                    <rect id="Retngulo_55_" rx="0" ry="0" x="0" y="0" width="100%" height="100%">
                    </rect>
                </svg>
                <a href="{% url 'presidente' %}">
                <img  id="close-button1" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">
                </a>
                
        
        
                <input type="radio" name="tabs" id="tab1" checked>
                <label for="tab1">Home</label>
           
                <input type="radio" name="tabs" id="tab2">
                <label for="tab2">Sobre</label>
           
                <input type="radio" name="tabs" id="tab3">
                <label for="tab3">Notícias</label>
        
                <div class="tabs">
                <div class="content">
        
                <div id="Nome_Completo1">
                    <span style="color: rgba(255,0,0,1);">*</span> <span>Nome Completo</span>
                </div>
                <div id="apelido">
                    <span>Apelido</span>
                </div>
                <div id="Cargo__Funo2">
                    <span style="color: rgba(255,0,0,1);">*</span>  <span>CPF</span>
                </div>
                <div id="pis">
                    <span>PIS</span>
                </div>
                <div id="titulo">
                    <span>Titulo de Eleitor  </span>
                </div>
                <div id="carteira">
                    <span>Carteira de Trabalho</span>
                </div>
                <div id="serie">
                    <span>Série</span>
                </div>
                <div id="ufc">
                    <span>UF </span>
                </div>
                <div id="de">
                    <span>Data da Emissão</span>
                </div>
                <div id="genero">
                    <span>Gênero</span>
                </div>
                <div id="cor">
                    <span>Cor</span>
                </div>
                <div id="celp">
                    <span>Celular Pessoal</span>
                </div>
                <div id="ecivil">
                    <span>Estado Civil </span>
                </div>
               <div id="escol">
                    <span>Escolaridade</span>
                </div>
               <div id="dn">
                <span style="color: rgba(255,0,0,1);">*</span>  <span>Data de Nascimento</span>
                </div>
               <div id="munasci">
                    <span>Município</span>
                </div>
               <div id="uf">
                    <span>UF</span>
                </div>
                <div id="pais">
                    <span>País </span>
                </div>
                 <div id="nasci">
                    <span>Nacionalidade</span>
                </div>
                 <div id="mae1">
                    <span>Nome da Mãe</span>
                </div>
                <div id="pai1">
                    <span>Nome do Pai</span>
                </div>
                <div id="document">
                    <span>Documento</span>
                </div>
                <div id="document1">
                    <span>Número</span>
                </div>
                <div id="document2">
                    <span>Orgão Emissor</span>
                </div>
                <div id="document3">
                    <span>Expedição</span>
                </div>
                <div id="document4">
                    <span>Validade</span>
                </div>
              
                <div id="endereco">
                    <span>Cep</span>
                </div>
                <div id="endereco1">
                    <span>Tipo</span>
                </div>
                <div id="endereco2">
                    <span>Logradouro</span>
                </div>
                <div id="endereco3">
                    <span>Nº</span>
                </div>
                <div id="endereco4">
                    <span>UF</span>
                </div>
                <div id="endereco5">
                    <span>Município</span>
                </div>
                <div id="endereco6">
                    <span>Bairro</span>
                </div>
                <div id="endereco7">
                    <span>Complemento</span>
                </div>
                <div id="endereco8">
                    <span>País</span>
                </div>
              
              
                <div id="Dados_Corporativos1">
                    <span>Dados Pessoais</span>
                </div>
              
                <input  class="Retngulo_60 " type="text"  required name="nome">
                
                <select name="genero"  class=" Retngulo_genero">
                    <option name="genero" value="">
                        <option value="Masculno">Masculino</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Prefiro não informar">Prefiro não informar</option>
                    </option>
                </select>
                <input  class="Retngulo_apelido " type="text"  name="apelido">
                <input id="cpf"  class="Retngulo_cpf   " type="text" required name="cpf">
                <input  class="Retngulo_pis " type="text" name="pis">   
                <input  class="Retngulo_titulo " type="text" name="titulo">
                <input  class="Retngulo_carteira " type="text" name="carteira">
                <input  class="Retngulo_serie " type="text" name="serie">
                <input  class="Retngulo_ufc " type="text" name="ufc">
                <input  class="Retngulo_emissao " type="date" value="1900-01-01"name="emissao">           
                <select name="cor"  class=" Retngulo_cor">
                    <option name="cor" value="">
                        <option value="INDIGENA">1 - INDIGENA </option>
                        <option value="BRANCA">2 - BRANCO</option>
                        <option value="NEGRA">3 - NEGRA</option>
                        <option value="AMARELO">4 - AMARELO</option>
                        <option value="PARDA">5 - PARDA</option>
                        <option value="NÃO INFORMADO ">6 - NÃO INFORMADO</option>
                    </option>
                </select>
                <input  id="tel"  class="Retngulo_celp  cel-sp-mask" type="text" name="celp">             
                <select name="ecivil"  class=" Retngulo_ecivil">
                    <option name="ecivil" value="">
                        <option value="SOLTEIRO">1 - SOLTEIRO </option>
                        <option value="CASADO">2 - CASADO</option>
                        <option value="SEPARADO">3 - SEPARADO</option>
                        <option value="DIVORCIADO">4 - DIVORCIADO</option>
                        <option value="VIUVO">5 - VIUVO</option>
                        <option value="UNIÃO ESTÁVEL">6 - UNIÃO ESTÁVEL</option>
                    </option>
                </select>
                 <select name="escolaridade"  class=" Retngulo_escol">
                    <option name="escolaridade" value="">
                        <option value="ANALFABETO">1 - ANALFABETO </option>
                        <option value="ATÉ O 5° ANO INCOMPLETO">2 - ATÉ O 5° ANO INCOMPLETO</option>
                        <option value="5° COMPLETO">3 - 5° COMPLETO</option>
                        <option value="DO 6° AO 9° ANO INCOMPLETO">4 - DO 6° AO 9° ANO INCOMPLETO</option>
                        <option value="ENSINO FUNDAMENTAL COMPLETO">5 - ENSINO FUNDAMENTAL COMPLETO</option>
                        <option value="ENSINO MÉDIO INCOMPLETO">6 - ENSINO MÉDIO INCOMPLETO </option>
                        <option value="ENSINO MÉDIO COMPLETO">7 - ENSINO MÉDIO COMPLETO </option>
                        <option value="ENSINO SUPERIOR INCOMPLETO">8 - ENSINO SUPERIOR INCOMPLETO </option>
                        <option value="ENSINO SUPERIOR COMPLETO">9 - ENSINO SUPERIOR COMPLETO </option>
                        <option value="MESTRADO COMPLETO">10 - MESTRADO COMPLETO </option>
                        <option value="DOUTORADO COMPLETO">11 - DOUTORADO COMPLETO </option>
                    </option>
                </select>


                <input  class="Retngulo_dn " type="date" required name="datanasci">
                <input  class="Retngulo_munasci " type="text" name="municipionasc">
                <input  class="Retngulo_ufn " type="text" name="ufnasci">                
                <input  class="Retngulo_pais " type="text" name="paisnasci">
                <input  class="Retngulo_nasci " type="text" name="nasciona">
                <input  class="Retngulo_pai " type="text" name="pai">
                <input  class="Retngulo_mae " type="text" name="mae">
                <select name="documento"  class=" Retngulo1_ ">
                    <option name="documento" value="">
                        <option value="PG">RG</option>
                        <option value="CNH">CNH</option>
                
                    </option>
                </select>
                <input  class="Retngulo2_ " type="text" name="numero">
                <input  class="Retngulo3_ " type="text" name="oe">
                <input  class="Retngulo4_ " type="date" value="1900-01-01" name="expedicao">
                <input  class="Retngulo5_ " type="date"value="1900-01-01"name="validade">  
                <input id="cep" class="Retngulo6_  cep-mask" type="text" name="cep">
                <input data-cep="tipo_logradouro" class="Retngulo7_ " type="text" name="tipo">
                <input data-cep="endereco" class="Retngulo8_ " type="text" name="logradouro">
                <input  class="Retngulo9_ " type="text" name="num">
                <input data-cep="uf" class="Retngulo10_ " type="text" name="ufatual">
                <input data-cep="cidade" class="Retngulo11_ " type="text" name="muniatual">
                <input data-cep="bairro" class="Retngulo12_ " type="text" name="bairro">
                <input id="complemento" class="Retngulo13_ " type="text" name="complemeno">
                <input id="paisx" class="Retngulo14_ " type="text" name="pais">
            </div>
            <div class="content">
            
        
                <div id="Nome_Completo1">
                    <span>Departamento</span>
                </div>
                <div id="cargo">
                    <span style="color: rgba(255,0,0,1);">*</span> <span>Cargo / Função</span>
                </div>
                
                <div id="Empresa1">
                    <span>Empresa</span>
                </div>               
                <div id="vtrans">
                    <span>Vale Transporte</span>
                </div>
                <div id="admissao">
                    <span>Data de Admissão</span>
                </div>
                <div id="demissao">
                    <span>Data de Demissão</span>
                </div>
                <div id=tipoadmissao>
                    <span>Tipo de Admissão</span>
                </div>
                <div id="admissional1">
                    <span>Indicativo Admissional</span>
                </div>
                <div id="priempr">
                    <span>Primeiro Emprego</span>
                </div>
                <div id="rtra">
                    <span>Regime de Trabalho</span>
                </div>
                <div id="rprev">
                    <span>Regime Previdenciário</span>
                </div>
                <div id="rjorn">
                    <span>Regime de Jornada</span>
                </div>
                <div id="naativ">
                    <span>Natureza da Atividade</span>
                </div>
                <div id="cat">
                    <span>Categoria</span>
                </div>
                <div id="codf">
                    <span>CBO</span>
                </div>
                <div id="carh">
                    <span>Carga Horária</span>
                </div>
                <div id="unisa">
                    <span>Unidade Salarial</span>
                </div>
               
                <div id="salvar">
                    <span>Salário Variável</span>
                </div>
                <div id="obs">
                    <span>Observações</span>
                </div>
                <div id="bd">     
                    <span>Dados Bancários</span>
                </div>
		        <div id="bdbanco">
                    <span>Banco </span>
                </div>
                <div id="bdagencia">
                    <span>Agência </span>
                </div>
		        <div id="bdconta">
                    <span>Conta</span>
                </div>

                <div id="Dados_Corporativos1">
                    <span>Dados Empresariais</span>
                </div>
                <input  class="Retngulo_60 depright" type="text"  name="departamento">
                <select name="empresa"  class=" Retngulo_empresa">
                    <option name="empresa" value="">
                        {% for empresa in empresa %}
                        <option value="{{empresa.nempresa}}">{{empresa.nempresa}}</option>
                        {% endfor %}
                    </option>
                </select>
                <select name="cargo"  class=" Retngulo_cargo" required >
                    <option name="cargo" value="">
                        {% for cargos in cargos %}
                        <option value="{{cargos.cargo}}">{{cargos.cargo}}</option>
                        {% endfor %}                       
                    </option>
                </select>
        
                    <img  data-bs-toggle="modal" data-bs-target="#exampleModal" class="add-button5" src="{% static 'img/add-button.png' %}" >
            
                <select name="vtrans"  class=" Retngulo_vtrans">
                    <option name="vtrans" value="">
                        <option value="sim">1-SIM</option>
                        <option value="nao">2-NÃO</option>                        
                    </option>
                </select>
                <select name="priempr"  class=" Retngulo_priempr">
                    <option name="priempr" value="">
                        <option value="sim">1-SIM </option>
                        <option value="nao">2-NÃO </option>                        
                    </option>
                </select>     
                <input  class="Retngulo_admissao " type="date"value="1900-01-01" name="admissao">
                <input  class="Retngulo_demissao " type="date"value="1900-01-01"name="demissao">
                <select name="tipoadmissao"  class=" Retngulo_tipoadmissao">
                    <option name="tipoadmissao" value="">
                        <option value="Admissão">1 - ADMISSÃO</option>
                        <option value="Transferencia de empresa do mesmo grupo empresarial">2 - TRANSFERENCIA DE EMPRESA DO MESMO GRUPO EMPRESARIAL</option>
                        <option value="Admissão por sucessão, Incorporação, Cisão ou Fusão">3 - ADMISSÃO POR SUCESSÃO, INCORPORAÇÃO, CISÃO OU FUSÃO</option>
                        <option value="Trabalhador cedido">4 - TRABALHADOR CEDIDO</option>   
                    </option>
                </select>
                <select name="indica"  class=" Retngulo_indica">
                    <option name="indica" value="">
                        <option value="Normal">1 - NORMAL</option>
                        <option value="Decorrente de ação fiscal">2 - DECORRENTE DE AÇÃO FISCAL</option>
                        <option value="Decorrente de decisão judicial ">3 -DECORRENTE DE AÇÃO JUDICIAL</option>               
                    </option>
                </select>             
                    
                <select name="rtrab"  class=" Retngulo_75">
                    <option name="rtrab" value="">
                        <option value="CLT">1 - CLT</option>
                        <option value="RJU">2 - RJU</option>
                        <option value="RJP">3 - RJP </option>     
                    </option>
                </select>
                <select name="rprev"  class=" Retngulo_76">
                    <option name="rprev" value="">
                        <option value="RGPS">1 - RGPS</option>
                        <option value="RPPS">2 - RPPS</option>
                        <option value="RPPE">3 - RPPE </option>                    
                    </option>
                </select>               
                <select name="rjorn"  class=" Retngulo_77">
                    <option name="rjorn" value="">
                        <option value="SUBMETIDO A HORÁRIOS DE TRABALHO">1 - SUBMETIDO A HORÁRIOS DE TRABALHO</option>
                        <option value="ATIVIDADE EXTERNA ESPECIFICADA">2 - ATIVIDADE EXTERNA ESPECIFICADA</option>
                        <option value="FUNÇÕES ESPECIFICAS">3 - FUNÇÕES ESPECIFICAS </option>
                    </option>
                </select>    
                <select name="naativ"  class=" Retngulo_78">
                    <option name="naativ" value="">
                        <option value="TRABALHO URBANO">1 - TRABALHO URBANO</option>
                        <option value="RURAL">2 -RURAL</option>
                    </option>
                </select>    
               
                <select name="cat"  class=" Retngulo_79">
                    <option name="cat" value="">
                        <option value="EMPREGADO-GERAL">1 - EMPREGADO-GERAL</option>
                        <option value="EMPREGADO-TRABALHADOR RURAL POR PEQUENO PRAZO DA LEI 11.718/2008">2 - EMPREGADO-TRABALHADOR RURAL POR PEQUENO PRAZO DA LEI 11.718/2008</option>
                        <option value="EMPREGADO-APRENDIZ">3 - EMPREGADO-APRENDIZ</option>
                        <option value="EMPREGADO-DOMÉSTICO">4 - EMPREGADO-DOMÉSTICO</option>
                        <option value="EMPREGADO-CONTRATO A TERMO FIRMADO NOS TERMOS DA LEI 9601/98">5 - EMPREGADO-CONTRATO A TERMO FIRMADO NOS TERMOS DA LEI 9601/98</option>
                        <option value="EMPREGADO-CONTRATO POR PRAZO DETERMINADO NOS TERMOS DA LEI 6019/74">6 - EMPREGADO-CONTRATO POR PRAZO DETERMINADO NOS TERMOS DA LEI 6019/74</option>
                        <option value="TRABALHADOR NÃO VINCULADO AO RGPS COM DIREITO AO FGTS">7 - TRABALHADOR NÃO VINCULADO AO RGPS COM DIREITO AO FGTS</option>
                        <option value="TRABALHADOR AVULSO - PORTUÁRIO">8 - TRABALHADOR AVULSO - PORTUÁRIO </option>
                        <option value="ESTAGIÁRIO">9 - ESTAGIÁRIO </option>
                    </option>
                </select>    



                <input  class="Retngulo_80 " type="text" name="codf">
                <input  class="Retngulo_81 " type="text" name="carh">
                <select name="unisa"  class=" Retngulo_82">
                    <option name="unisa" value="">
                        <option value="POR HORA">1 - POR HORA</option>
                        <option value="POR DIA">2 - POR DIA</option>
                        <option value="POR SEMANA">3 - POR SEMANA</option>
                        <option value="POR QUINZENA">4 - POR QUINZENA</option>
                        <option value="POR MÊS">5 - POR MÊS</option>
                        <option value="POR TAREFA">6 - POR TAREFA</option>             
                    </option>
                </select>    
                <input  class="Retngulo_83 " type="number"     name="salvari">
                
                <textarea rows="4" cols="50" name="obs" class="Retngulo_84 " ></textarea>
                <input  class="Retngulo_85 " type="text"  name="banco">

                <input  class="Retngulo_86 " type="text"  name="agencia">

                <input  class="Retngulo_87 " type="text"  name="conta">

        
        </div>
        <div class="content">
            <div id="Nome_Completo1">
                <span>E-mail corporativo 01</span>
            </div>
            <div id="Departamento1">
                <span>Skype</span>
            </div>
            <div id="Cargo__Funo1">
                <span>Celular Corporativo</span>
            </div>
            <div id="Empresa1">
                <span>E-mail corporativo 02</span>
            </div>
            <div id="E-mail_corporativo_011">
                <span>Telefone</span>
            </div>
            <div id="E-mail_corporativo_021">
                <span>Ramal</span>
            </div>
            <div id="Skype1">
                <span style="color: rgba(255,0,0,1);">*</span>  <span>Usuário</span>
            </div>
            <div id="Celular_Corporativo1">
                <span style="color: rgba(255,0,0,1);">*</span> <span>Senha</span>
            </div>
          
            <div id="Dados_Corporativos1">
                <span>Dados Corporativos</span>
            </div>
          
          
            <input  class="Retngulo_60 " type="text" name="email1">
            <input  class="Retngulo_61_ " type="text" name="email2">
            <input  class="Retngulo_62_ " style="margin-top:-20px" type="text" name="skype">
            <input  id="tel" class="Retngulo_63  cel-sp-mask" type="text" name="cel">
            <input id="tel" class="Retngulo_64  cel-sp-mask" type="text" name="tel">
            <input  class="Retngulo_65 " type="text" name="ramal">
            <input  class="Retngulo_66 " type="text" required name="usuario">
            <input  class="Retngulo_67 " type="password" required name="senha">
    
    
    
    
    
    
          
           
        
            
    </div>
        </div>
        <select name="grupo" required  class=" Retngulo_69">
            <option name="grupo" value="">
                {% for gs in g %}
                <option value="{{gs.name}}">{{gs.name}}</option>
                {% endfor %}
            </option>
        </select>    

                <div id="add-button4">
                    {{form.imagem}}
                </div>   
                <img class="add-button3" id="output" src="{% static 'img/add-button.png' %}" >
            
                <div id="Foto_do_Perfil1">
                    <span>Foto do Perfil</span>
                </div>
                <div id="_Perfil_de_Usurio">
                    <span>*</span><span style="color:rgba(93,90,90,1);"> Perfil de Usuário</span>
                </div>
                <button type="submit" name="add_usu" class="Retngulo_581 d-flex justify-content-center text-white p-1">
                        <span>Cadastrar Usuário</span>
                </button>
                
        </form>
        </div>  
        </div>
        </div> 
</main>

{% block modal %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cadastro de Função</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'cargo' %}">
            {% csrf_token %}
          <label>Cargo:</label><br>    
          <input type="text" class="" name="cargo"><br>
          <label>Ncbo:</label><br> 
          <input type="text" class="" name="ncbo"><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fecha</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock modal%}
{% block js %}
<script type="text/javascript" src="https://www.geradorcpf.com/assets/js/jquery-1.2.6.pack.js"></script>
<script type="text/javascript" src="https://www.geradorcpf.com/assets/js/jquery.maskedinput-1.1.4.pack.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#cpf").mask("999.999.999-99");
		$("#tel").mask("(99)99999-9999");
		$("#dt").mask("99/99/9999");
	});
</script>
<script>
    
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
            <script src="{% static 'js/jquery.cep.min.js' %}"></script>
            <script src="{% static 'js/script.js'%}"></script>          
<script>
    $(document).ready(function() {

    function limpa_formulário_cep() {
    // Limpa valores do formulário de cep.
    $("#rua").val("");
    $("#bairro").val("");
    $("#cidade").val("");
    $("#uf").val("");
    $("#ibge").val("");
    }

    //Quando o campo cep perde o foco.
    $("#cep").blur(function() {

    //Nova variável "cep" somente com dígitos.
    var cep = $(this).val().replace(/\D/g, '');

    //Verifica se campo cep possui valor informado.
    if (cep != "") {

        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;

        //Valida o formato do CEP.
        if(validacep.test(cep)) {

            //Preenche os campos com "..." enquanto consulta webservice.
            $("#rua").val("...");
            $("#bairro").val("...");
            $("#cidade").val("...");
            $("#uf").val("...");
            $("#ibge").val("...");

            //Consulta o webservice viacep.com.br/
            $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                if (!("erro" in dados)) {
                    //Atualiza os campos com os valores da consulta.
                    $("#rua").val(dados.logradouro);
                    $("#bairro").val(dados.bairro);
                    $("#cidade").val(dados.localidade);
                    $("#ufx").val(dados.uf);
                    $("#ibge").val(dados.ibge);
                    $("#complemnto").val(dados.complemento);
                    $("#paisx").val("Brasil");
                } //end if.
                else {
                    //CEP pesquisado não foi encontrado.
                    limpa_formulário_cep();
                    alert("CEP não encontrado.");
                }
            });
        } //end if.
        else {
            //cep é inválido.
            limpa_formulário_cep();
            alert("Formato de CEP inválido.");
        }
    } //end if.
    else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
    }
    });
    });

</script>    
 {% endblock js %}   
 {% endblock content %}           