{% extends 'base.html' %}
{% load static %}

{% block content %}


      
<main style="left: 100px;" role="main"  class="col-md-6 m-sm-auto col-lg-10 "  >
     
    <div class="container mt-5">

        <div class="mt-5 ml-5" id="mepeba">
            <span>Meu Perfil</span>
        </div>
      
        <svg class="mt-2" viewBox="0 0 1500 1">
            <path id="Linha_1" d="M 0 0 L 1500 0">
            </path>
        </svg>


        <div class="m-2">
          <div class="row">
          <div class="col-9 ">
                  <div class="table-responsive">
                      <table class="table  table-bordered  mb-0 ">
                          <tbody>
                             
                              <tr>
                                <td>Departamento</td>
                                <td>{{usuarioT.departamento|upper|truncatechars:22 }}</td>
                              </tr> 
                              
                              
                              <tr>
                                <td>E-mail corporativo 01</td>
                                <td>{{usuarioC.email|upper|truncatechars:22 }}</td>
                              </tr> 
                              <tr>
                                <td>E-mail corporativo 02</td>
                                <td>{{usuarioC.emailCorporativo|upper|truncatechars:22 }}</td>
                              </tr> 
                              <tr>
                                <td>Skype</td>
                                <td>{{usuarioC.skype|upper|truncatechars:22 }}</td>
                              </tr> 
                              <tr>
                                <td>Celular Corporativo</td>
                                <td>{{usuarioC.telefone|upper|truncatechars:22 }}</td>
                              </tr> 
                              <tr>
                                <td>Telefone</td>
                                <td>{{usuarioC.tel|upper|truncatechars:22 }}</td>
                              </tr> 
                              <tr>
                                <td>Ramal</td>
                                <td>{{usuarioC.ramal|upper|truncatechars:22 }}</td>
                              </tr> 
                          </tbody>
                      </table>
                
        
      </div>
        </div>

        <div class="col-3">
        <img id="add-button" src="{{imageP.image.url}}" srcset="{{imageP.image.url}} 1x, {{imageP.img.url}} 2x">
        <div class="" scope="row">{{usuarioP.nome|upper|truncatechars:50 }}</div>
        <div class="" scope="row">{{usuarioT.cargo|upper|truncatechars:22 }}</div>
        <div class="" scope="row">{{usuarioT.empresa|upper|truncatechars:22 }}</div>
        </div>
          </div>
        




    
      </div>

  </div>

</main>
{% endblock content %}
</body>
</html>