{% extends 'base.html' %}
{% load static %}

    {% block content %}


      
    <main style="left:100px;" role="main"  class="col-md-6 m-sm-auto col-lg-10 "  >
     
    <div class="container mt-5">
      <div class="mt-5 ml-5" id="mepeba">
        <span>
          Usuários
        </span>
    </div>
  
    <svg class="mt-2" viewBox="0 0 1500 1">
        <path id="Linha_1" d="M 0 0 L 1500 0">
        </path>
    </svg>
    <a href="{% url 'presidente' %}">
    
      <img  id="close-button" src="{% static 'img/close-button.png' %}" srcset="{% static 'img/close-button.png' %} 1x, {% static 'img/close-button@2x.png' %} 2x">

    
 </a>

 <div class="m-2">
  <div class="row">
    <div class="col-9 ">
            <div class="table-responsive">
                <table class="table  table-bordered  mb-0 ">
                    <tbody>
                       
                        <tr>
                          <td>Departamento</td>
                          <td>{{usuario.trabalho.departamento|upper|truncatechars:22 }}</td>
                        </tr> 
                        
                        
                        <tr>
                          <td>E-mail corporativo 01</td>
                          <td>{{usuario.email|upper|truncatechars:22 }}</td>
                        </tr> 
                        <tr>
                          <td>E-mail corporativo 02</td>
                          <td>{{usuario.emailCorporativo|upper|truncatechars:22 }}</td>
                        </tr> 
                        <tr>
                          <td>Skype</td>
                          <td>{{usuario.skype|upper|truncatechars:22 }}</td>
                        </tr> 
                        <tr>
                          <td>Celular Corporativo</td>
                          <td>{{usuario.telefone|upper|truncatechars:22 }}</td>
                        </tr> 
                        <tr>
                          <td>Telefone</td>
                          <td>{{usuario.tel|upper|truncatechars:22 }}</td>
                        </tr> 
                        <tr>
                          <td>Ramal</td>
                          <td>{{usuario.ramal|upper|truncatechars:22 }}</td>
                        </tr> 
                    </tbody>
                </table>
          
  
</div>
  </div>

  <div class="col-3">
  <img id="add-button" src="{{imageP.image.url}}" srcset="{{imageP.image.url}} 1x, {{imageP.img.url}} 2x">
  <div class="" scope="row">{{usuario.codigo.nome|upper|truncatechars:50 }}</div>
<div class="" scope="row">{{usuario.trabalho.cargo|upper|truncatechars:22 }}</div>
<div class="" scope="row">{{usuario.trabalho.empresa|upper|truncatechars:22 }}</div>
  
  


<div class="row">
{% if grupos == "recursos humanos"%}
    <a href="{% url 'edit_usuarios' usuario.id %}">
    <button class="Retngulo_582 text-white fw-bold  " >
      Editar Usuário
    </button>
  </a>
{% endif %}
</div>
</div>
</div>





</div>


    
    
   

   
   
    
    






    
 
   


    
 

    </div>
  </main>
  
{% endblock content %}
</body>
</html>