{% extends 'base.html' %}
{% load static %}


{% block content %}

<svg class="Linha_1" viewBox="0 0 1482 1">
  <path id="Linha_1" d="M 0 0 L 1482 0">
  </path>
</svg>
<div class="" style="top:1;left: 300px;" id="Atendimento_ba">
  <span>Usuários</span>
</div>
<main style="left:100px;" role="main"  class="col-md-6 m-sm-auto col-lg-9 mb-5"  >
 
      <div style="top:250px;left:300px;"  class="container  mb-5">
        


        {% if grupos == "recursos humanos" or  grupos ==  "atendimento ti" %}
            <a href="{% url 'add_usuarios' %}">
            <div class="Retngulo_58_ text-white bg-primary fs-5 fw-bold d-flex justify-content-center pt-2">
              <span>Cadastrar Usuário</span>
            </div>
            </a> 
            <form action="{% url 'presidente' %}" method="post" enctype="multipart/form-data" >
              {% csrf_token %}
            <div>
            {{form.as_p}} 
            </div>         
            <button  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"  type="submit" name="btn_import">
                <i class="fas fa-download fa-sm text-white-50"></i> Importar .xlsx
            </button>
            </form>
        {% endif %}
    
        
        <!--
        <div class="Retngulo_56_ text-white bg-primary border border-primary d-flex justify-content-center fs-5 fw-bold pt-2 ">
          <span>Usuários</span>
        
        </div>
      
      
          <div class="Retngulo_57_ border border-dark d-flex justify-content-center text-dark fs-5 fw-bold pt-2">
            <span>Permissões</span>
          </div>
        </a>-->
      
        
      

        

        <!--<div class="container d-flex flex-nowrap  N_21_  ">
          <form method="GET">
              {% csrf_token %}
            <div class="row">
            <div style="left: 0%;" class="col-2" >	
              {{filtro.form.name}}
            </div>

            <div style="left: 14%;" class="col-2 " >
              {{filtro.form.departamento}}
            </div>

            <div style="left: 50%;" class="col-2 " >
              <span><button class="btn btn-primary" type="submit" style="border-radius: 20px; box-shadow:0 8px 6px -6px rgb(161, 161, 161); " >Filtrar</button></span>
            </div>  
              </div>  
          </form> 
        </div>-->


        <form method="POST" action="{% url 'perfisuser' %}">
            {% csrf_token %}
                <div class="row">
                    <div class="col-lg-10">
                          <div class="table-responsive mb-4">
                              <table id="datatable-buttons" class="table table-centered datatable dt-responsive nowrap table-card-list" style="border-collapse: collapse; border-spacing: 0 12px; width: 100%;">
                                      <thead>
                                          <tr class="bg-transparent">
                                                
                                                <th>Nome</th>
                                                <th>Departamento</th>
                                                <th>Ramal</th>
                                                <th>Cel.Corporativo</th>
                                                <th>E-mail</th>
                                                <th >Skype</th>
                                                <th></th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        {% for users in users  %}
                                          <tr>
                                              
                                              
                                              <td><a href="javascript: void(0);" class="text-dark fw-bold">{{users.codigo.nome|upper|truncatechars:22}}</a> </td>
                                              <td>
                                                {{users.trabalho.departamento|upper}}
                                              </td>
                                              <td> {% if users.ramal is not None %}
                                                     {{users.ramal|upper}}
                                                   {%endif%}
                                              </td>
                                              
                                              <td>
                                                {% if users.tel is not None %}
                                                {{users.tel|upper}}
                                                {%endif%}
                                              </td>
                                              <td>
                                                {% if users.emailCorporativo is not None %}
                                                  <div>{{users.emailCorporativo|upper}}</div>
                                                  {%endif%}
                                              </td>
                                              <td>
                                                {% if users.skype is not None %}
                                                  <div>{{users.skype|upper}}</div>
                                                  {%endif%}
                                                  
                                              </td>
                                              
                                              <td>
                                                <button type="submit" value="{{users.id}}" class="bg-transparent"  name="perfil">	
                                                  <a href="javascript:void(0);" class="px-3 text-primary"><i class="uil uil-eye font-size-18"></i></a>
                                                </button>
                                              </td>
                                          </tr>
                                          {% endfor %}
                                        
                                        
                                          
                                      </tbody>
                              </table>
                          </div> 
                    </div>
                </div>
        </form>
        {% if grupos == "recursos humanos"%}
        <form action="{% url 'exportar' %}" class="mb-5">
              <button type="submit"  class="btn btn-secondary"id="btnExport" name="export" value=" Exportar excel " >Excel</button>
        </form>
        {% endif %}
        

        </div>

</main>

{% endblock content %}  
{% block javascript %}
 <!-- JAVASCRIPT -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'libs/jquery.counterup/jquery.counterup.min.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
 <!-- Buttons examples -->
 <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
 <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
 <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
 <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
 <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
 <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
 <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
 <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
 
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- init js -->
<script src="{% static 'js/ecommerce-datatables.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock %}